body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1807_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1807 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1808 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1809_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1809 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1810 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1811_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u1811 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u1812 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1813_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1813 {
  position:absolute;
  left:39px;
  top:105px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1814 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1815_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1815 {
  position:absolute;
  left:42px;
  top:174px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1816 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1817_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1817 {
  position:absolute;
  left:42px;
  top:207px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1818 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u1819_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1819 {
  position:absolute;
  left:42px;
  top:238px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1820 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1821_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1821 {
  position:absolute;
  left:42px;
  top:143px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1822 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1823_div {
  position:absolute;
  left:0px;
  top:0px;
  width:312px;
  height:146px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1823 {
  position:absolute;
  left:644px;
  top:359px;
  width:312px;
  height:146px;
  font-size:28px;
}
#u1824 {
  position:absolute;
  left:2px;
  top:57px;
  width:308px;
  word-wrap:break-word;
}
#u1825 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1826_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1826 {
  position:absolute;
  left:191px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u1827 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u1828_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1828 {
  position:absolute;
  left:353px;
  top:76px;
  width:161px;
  height:55px;
  font-size:16px;
}
#u1829 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1830_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1830 {
  position:absolute;
  left:515px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u1831 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u1832_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1832 {
  position:absolute;
  left:676px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1833 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1834 {
  position:absolute;
  left:837px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1835 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1836_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1836 {
  position:absolute;
  left:997px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1837 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1838_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1838 {
  position:absolute;
  left:1158px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1839 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
