body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  height:353px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2068 {
  position:absolute;
  left:303px;
  top:195px;
  width:907px;
  height:353px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:907px;
  word-wrap:break-word;
}
#u2070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:865px;
  height:600px;
}
#u2070 {
  position:absolute;
  left:324px;
  top:438px;
  width:865px;
  height:600px;
}
#u2071 {
  position:absolute;
  left:2px;
  top:292px;
  width:861px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2072 {
  position:absolute;
  left:662px;
  top:1110px;
  width:138px;
  height:36px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:490px;
  top:1110px;
  width:138px;
  height:36px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2076 {
  position:absolute;
  left:838px;
  top:1110px;
  width:138px;
  height:36px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2079 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2081 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u2083 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2085 {
  position:absolute;
  left:39px;
  top:105px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2087 {
  position:absolute;
  left:42px;
  top:174px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2089 {
  position:absolute;
  left:42px;
  top:207px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2090 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2091 {
  position:absolute;
  left:42px;
  top:238px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2093 {
  position:absolute;
  left:42px;
  top:143px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2094 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2096 {
  position:absolute;
  left:191px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2098 {
  position:absolute;
  left:353px;
  top:76px;
  width:161px;
  height:55px;
  font-size:16px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2100 {
  position:absolute;
  left:515px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2102 {
  position:absolute;
  left:676px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2104 {
  position:absolute;
  left:837px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2106 {
  position:absolute;
  left:997px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u2108_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2108 {
  position:absolute;
  left:1158px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
