body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1896px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2067 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2068 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2070 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2071_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u2071 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2073 {
  position:absolute;
  left:869px;
  top:169px;
  width:124px;
  height:29px;
  font-size:20px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2075 {
  position:absolute;
  left:1029px;
  top:169px;
  width:124px;
  height:29px;
  font-size:20px;
}
#u2076 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u2077 {
  position:absolute;
  left:212px;
  top:282px;
  width:1342px;
  height:272px;
}
#u2078_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:92px;
}
#u2078 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:92px;
  font-size:18px;
}
#u2079 {
  position:absolute;
  left:2px;
  top:35px;
  width:81px;
  word-wrap:break-word;
}
#u2080_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:92px;
}
#u2080 {
  position:absolute;
  left:85px;
  top:0px;
  width:127px;
  height:92px;
  font-size:18px;
}
#u2081 {
  position:absolute;
  left:2px;
  top:35px;
  width:123px;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:92px;
}
#u2082 {
  position:absolute;
  left:212px;
  top:0px;
  width:151px;
  height:92px;
  font-size:18px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:35px;
  width:147px;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:92px;
}
#u2084 {
  position:absolute;
  left:363px;
  top:0px;
  width:131px;
  height:92px;
  font-size:18px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:35px;
  width:127px;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:92px;
}
#u2086 {
  position:absolute;
  left:494px;
  top:0px;
  width:181px;
  height:92px;
  font-size:18px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:35px;
  width:177px;
  word-wrap:break-word;
}
#u2088_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:92px;
}
#u2088 {
  position:absolute;
  left:675px;
  top:0px;
  width:107px;
  height:92px;
  font-size:18px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:35px;
  width:103px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:92px;
}
#u2090 {
  position:absolute;
  left:782px;
  top:0px;
  width:98px;
  height:92px;
  font-size:18px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:35px;
  width:94px;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:92px;
}
#u2092 {
  position:absolute;
  left:880px;
  top:0px;
  width:167px;
  height:92px;
  font-size:18px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:35px;
  width:163px;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:92px;
}
#u2094 {
  position:absolute;
  left:1047px;
  top:0px;
  width:159px;
  height:92px;
  font-size:18px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:35px;
  width:155px;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:92px;
}
#u2096 {
  position:absolute;
  left:1206px;
  top:0px;
  width:131px;
  height:92px;
  font-size:18px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:35px;
  width:127px;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:86px;
}
#u2098 {
  position:absolute;
  left:0px;
  top:92px;
  width:85px;
  height:86px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:35px;
  width:81px;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:86px;
}
#u2100 {
  position:absolute;
  left:85px;
  top:92px;
  width:127px;
  height:86px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:35px;
  width:123px;
  word-wrap:break-word;
}
#u2102_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:86px;
}
#u2102 {
  position:absolute;
  left:212px;
  top:92px;
  width:151px;
  height:86px;
}
#u2103 {
  position:absolute;
  left:2px;
  top:35px;
  width:147px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:86px;
}
#u2104 {
  position:absolute;
  left:363px;
  top:92px;
  width:131px;
  height:86px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:35px;
  width:127px;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:86px;
}
#u2106 {
  position:absolute;
  left:494px;
  top:92px;
  width:181px;
  height:86px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:35px;
  width:177px;
  word-wrap:break-word;
}
#u2108_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:86px;
}
#u2108 {
  position:absolute;
  left:675px;
  top:92px;
  width:107px;
  height:86px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:35px;
  width:103px;
  word-wrap:break-word;
}
#u2110_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:86px;
}
#u2110 {
  position:absolute;
  left:782px;
  top:92px;
  width:98px;
  height:86px;
}
#u2111 {
  position:absolute;
  left:2px;
  top:35px;
  width:94px;
  word-wrap:break-word;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:86px;
}
#u2112 {
  position:absolute;
  left:880px;
  top:92px;
  width:167px;
  height:86px;
}
#u2113 {
  position:absolute;
  left:2px;
  top:35px;
  width:163px;
  word-wrap:break-word;
}
#u2114_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:86px;
}
#u2114 {
  position:absolute;
  left:1047px;
  top:92px;
  width:159px;
  height:86px;
}
#u2115 {
  position:absolute;
  left:2px;
  top:35px;
  width:155px;
  word-wrap:break-word;
}
#u2116_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:86px;
}
#u2116 {
  position:absolute;
  left:1206px;
  top:92px;
  width:131px;
  height:86px;
}
#u2117 {
  position:absolute;
  left:2px;
  top:35px;
  width:127px;
  word-wrap:break-word;
}
#u2118_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:89px;
}
#u2118 {
  position:absolute;
  left:0px;
  top:178px;
  width:85px;
  height:89px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:36px;
  width:81px;
  word-wrap:break-word;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:89px;
}
#u2120 {
  position:absolute;
  left:85px;
  top:178px;
  width:127px;
  height:89px;
}
#u2121 {
  position:absolute;
  left:2px;
  top:36px;
  width:123px;
  word-wrap:break-word;
}
#u2122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:89px;
}
#u2122 {
  position:absolute;
  left:212px;
  top:178px;
  width:151px;
  height:89px;
}
#u2123 {
  position:absolute;
  left:2px;
  top:36px;
  width:147px;
  word-wrap:break-word;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:89px;
}
#u2124 {
  position:absolute;
  left:363px;
  top:178px;
  width:131px;
  height:89px;
}
#u2125 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  word-wrap:break-word;
}
#u2126_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:89px;
}
#u2126 {
  position:absolute;
  left:494px;
  top:178px;
  width:181px;
  height:89px;
}
#u2127 {
  position:absolute;
  left:2px;
  top:36px;
  width:177px;
  word-wrap:break-word;
}
#u2128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:89px;
}
#u2128 {
  position:absolute;
  left:675px;
  top:178px;
  width:107px;
  height:89px;
}
#u2129 {
  position:absolute;
  left:2px;
  top:36px;
  width:103px;
  word-wrap:break-word;
}
#u2130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:89px;
}
#u2130 {
  position:absolute;
  left:782px;
  top:178px;
  width:98px;
  height:89px;
}
#u2131 {
  position:absolute;
  left:2px;
  top:36px;
  width:94px;
  word-wrap:break-word;
}
#u2132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:89px;
}
#u2132 {
  position:absolute;
  left:880px;
  top:178px;
  width:167px;
  height:89px;
}
#u2133 {
  position:absolute;
  left:2px;
  top:36px;
  width:163px;
  word-wrap:break-word;
}
#u2134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:89px;
}
#u2134 {
  position:absolute;
  left:1047px;
  top:178px;
  width:159px;
  height:89px;
}
#u2135 {
  position:absolute;
  left:2px;
  top:36px;
  width:155px;
  word-wrap:break-word;
}
#u2136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:131px;
  height:89px;
}
#u2136 {
  position:absolute;
  left:1206px;
  top:178px;
  width:131px;
  height:89px;
}
#u2137 {
  position:absolute;
  left:2px;
  top:36px;
  width:127px;
  word-wrap:break-word;
}
#u2138 {
  position:absolute;
  left:1500px;
  top:399px;
  width:32px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2139 {
  position:absolute;
  left:1444px;
  top:399px;
  width:28px;
  height:37px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2140 {
  position:absolute;
  left:226px;
  top:495px;
  width:97px;
  height:16px;
}
#u2141 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2142 {
  position:absolute;
  left:226px;
  top:409px;
  width:97px;
  height:16px;
}
#u2143 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2144 {
  position:absolute;
  left:220px;
  top:320px;
  width:97px;
  height:16px;
}
#u2145 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:124px;
  height:29px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u2146 {
  position:absolute;
  left:1189px;
  top:169px;
  width:124px;
  height:29px;
  font-size:20px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:2px;
  width:120px;
  word-wrap:break-word;
}
#u2148 {
  position:absolute;
  left:608px;
  top:282px;
  visibility:hidden;
}
#u2148_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u2148_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2150_div {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:291px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2150 {
  position:absolute;
  left:0px;
  top:0px;
  width:498px;
  height:291px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:138px;
  width:494px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:106px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u2152 {
  position:absolute;
  left:142px;
  top:81px;
  width:214px;
  height:106px;
  font-size:28px;
}
#u2153 {
  position:absolute;
  left:2px;
  top:37px;
  width:210px;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u2154 {
  position:absolute;
  left:442px;
  top:21px;
  width:30px;
  height:30px;
}
#u2155 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2156 {
  position:absolute;
  left:180px;
  top:231px;
  width:138px;
  height:36px;
  font-size:18px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:7px;
  width:134px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2158 {
  position:absolute;
  left:1243px;
  top:207px;
  width:82px;
  height:23px;
  font-size:16px;
}
#u2159 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2160 {
  position:absolute;
  left:900px;
  top:641px;
  width:138px;
  height:36px;
}
#u2161 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2162 {
  position:absolute;
  left:727px;
  top:641px;
  width:138px;
  height:36px;
}
#u2163 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u2164 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2166 {
  position:absolute;
  left:191px;
  top:76px;
  width:562px;
  height:55px;
  font-size:16px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:18px;
  width:558px;
  word-wrap:break-word;
}
#u2168_div {
  position:absolute;
  left:0px;
  top:0px;
  width:560px;
  height:55px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u2168 {
  position:absolute;
  left:753px;
  top:76px;
  width:560px;
  height:55px;
  font-size:16px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:18px;
  width:556px;
  word-wrap:break-word;
}
#u2170 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2171 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2172_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2172 {
  position:absolute;
  left:39px;
  top:107px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2173 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2174_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2174 {
  position:absolute;
  left:39px;
  top:227px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2175 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2176_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2176 {
  position:absolute;
  left:39px;
  top:254px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2178_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2178 {
  position:absolute;
  left:39px;
  top:148px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2179 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2180_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2180 {
  position:absolute;
  left:39px;
  top:173px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2181 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2182 {
  position:absolute;
  left:39px;
  top:198px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:53px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2184 {
  position:absolute;
  left:1622px;
  top:372px;
  width:274px;
  height:53px;
}
#u2185 {
  position:absolute;
  left:2px;
  top:18px;
  width:270px;
  word-wrap:break-word;
}
#u2186 {
  position:absolute;
  left:1759px;
  top:372px;
  width:0px;
  height:0px;
  color:#999999;
}
#u2186_seg0 {
  position:absolute;
  left:-4px;
  top:-132px;
  width:8px;
  height:132px;
}
#u2186_seg1 {
  position:absolute;
  left:-1111px;
  top:-132px;
  width:1115px;
  height:8px;
}
#u2186_seg2 {
  position:absolute;
  left:-1111px;
  top:-132px;
  width:8px;
  height:41px;
}
#u2186_seg3 {
  position:absolute;
  left:-1117px;
  top:-99px;
  width:14px;
  height:8px;
}
#u2186_seg4 {
  position:absolute;
  left:-1124px;
  top:-105px;
  width:20px;
  height:20px;
}
#u2187 {
  position:absolute;
  left:-561px;
  top:-136px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
