body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1381px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:225px;
}
#u178 {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:225px;
}
#u179 {
  position:absolute;
  left:2px;
  top:104px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:5394px;
}
#u180 {
  position:absolute;
  left:0px;
  top:225px;
  width:216px;
  height:5394px;
}
#u181 {
  position:absolute;
  left:2px;
  top:2689px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1165px;
  height:225px;
}
#u182 {
  position:absolute;
  left:216px;
  top:0px;
  width:1165px;
  height:225px;
}
#u183 {
  position:absolute;
  left:2px;
  top:104px;
  width:1161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:205px;
  height:5382px;
}
#u184 {
  position:absolute;
  left:216px;
  top:268px;
  width:205px;
  height:5382px;
}
#u185 {
  position:absolute;
  left:2px;
  top:2683px;
  width:201px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:5331px;
}
#u186 {
  position:absolute;
  left:421px;
  top:225px;
  width:960px;
  height:5331px;
}
#u187 {
  position:absolute;
  left:2px;
  top:2658px;
  width:956px;
  visibility:hidden;
  word-wrap:break-word;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:30px;
}
#u188 {
  position:absolute;
  left:216px;
  top:235px;
  width:108px;
  height:30px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#5E5E5E;
}
#u189 {
  position:absolute;
  left:2px;
  top:4px;
  width:104px;
  word-wrap:break-word;
}
#u190 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:99px;
}
#u192 {
  position:absolute;
  left:115px;
  top:5516px;
  width:1px;
  height:99px;
}
#u193 {
  position:absolute;
  left:2px;
  top:42px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:843px;
  height:99px;
}
#u194 {
  position:absolute;
  left:116px;
  top:5516px;
  width:843px;
  height:99px;
}
#u195 {
  position:absolute;
  left:2px;
  top:42px;
  width:839px;
  visibility:hidden;
  word-wrap:break-word;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:26px;
}
#u196 {
  position:absolute;
  left:115px;
  top:5615px;
  width:542px;
  height:26px;
}
#u197 {
  position:absolute;
  left:2px;
  top:5px;
  width:538px;
  visibility:hidden;
  word-wrap:break-word;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:844px;
  height:72px;
}
#u198 {
  position:absolute;
  left:115px;
  top:5641px;
  width:844px;
  height:72px;
}
#u199 {
  position:absolute;
  left:2px;
  top:28px;
  width:840px;
  visibility:hidden;
  word-wrap:break-word;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:58px;
}
#u200 {
  position:absolute;
  left:960px;
  top:5557px;
  width:406px;
  height:58px;
}
#u201 {
  position:absolute;
  left:2px;
  top:21px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u202_img {
  position:absolute;
  left:0px;
  top:0px;
  width:406px;
  height:98px;
}
#u202 {
  position:absolute;
  left:960px;
  top:5615px;
  width:406px;
  height:98px;
}
#u203 {
  position:absolute;
  left:2px;
  top:41px;
  width:402px;
  visibility:hidden;
  word-wrap:break-word;
}
#u204_img {
  position:absolute;
  left:0px;
  top:0px;
  width:302px;
  height:26px;
}
#u204 {
  position:absolute;
  left:727px;
  top:5615px;
  width:302px;
  height:26px;
}
#u205 {
  position:absolute;
  left:2px;
  top:5px;
  width:298px;
  visibility:hidden;
  word-wrap:break-word;
}
#u206_div {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:27px;
  background:inherit;
  background-color:rgba(234, 238, 241, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#797979;
}
#u206 {
  position:absolute;
  left:658px;
  top:5614px;
  width:69px;
  height:27px;
  color:#797979;
}
#u207 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
#u208 {
  position:absolute;
  left:658px;
  top:5614px;
  width:59px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:18px;
}
#u209 {
  position:absolute;
  left:442px;
  top:188px;
  width:204px;
  height:18px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u210 {
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  white-space:nowrap;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:69px;
  height:29px;
}
#u211 {
  position:absolute;
  left:234px;
  top:188px;
  width:69px;
  height:29px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:15px;
  color:#FFFFFF;
}
#u212 {
  position:absolute;
  left:2px;
  top:4px;
  width:65px;
  word-wrap:break-word;
}
