body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1044 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1045 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1046 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1047 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1048 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1049 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1050 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1051 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u1052 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u1053 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1054 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1055 {
  position:absolute;
  left:39px;
  top:105px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1056 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1057 {
  position:absolute;
  left:42px;
  top:179px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1058 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u1059_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1059 {
  position:absolute;
  left:42px;
  top:147px;
  width:85px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1060 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1061 {
  position:absolute;
  left:42px;
  top:205px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1062 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1063 {
  position:absolute;
  left:618px;
  top:292px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1064 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1065 {
  position:absolute;
  left:622px;
  top:466px;
  width:55px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1066 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1067_img {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:2px;
}
#u1067 {
  position:absolute;
  left:729px;
  top:313px;
  width:110px;
  height:1px;
}
#u1068 {
  position:absolute;
  left:2px;
  top:-8px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:63px;
}
#u1069 {
  position:absolute;
  left:717px;
  top:460px;
  width:108px;
  height:63px;
}
#u1070 {
  position:absolute;
  left:2px;
  top:24px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1069_ann {
  position:absolute;
  left:818px;
  top:456px;
  width:1px;
  height:1px;
}
#u1071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u1071 {
  position:absolute;
  left:666px;
  top:205px;
  width:177px;
  height:26px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:22px;
}
#u1072 {
  position:absolute;
  left:0px;
  top:0px;
  width:177px;
  white-space:nowrap;
}
#u1073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1073 {
  position:absolute;
  left:618px;
  top:382px;
  width:91px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u1074 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u1075 {
  position:absolute;
  left:719px;
  top:382px;
  width:174px;
  height:22px;
}
#u1075_input {
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u1075_input:disabled {
  color:grayText;
}
#u1076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1076 {
  position:absolute;
  left:234px;
  top:118px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u1077 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u1078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1078 {
  position:absolute;
  left:669px;
  top:628px;
  width:140px;
  height:40px;
}
#u1079 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u1080 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:372px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1081 {
  position:absolute;
  left:697px;
  top:463px;
  width:300px;
  height:372px;
}
#u1082 {
  position:absolute;
  left:2px;
  top:178px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1083 {
  position:absolute;
  left:697px;
  top:463px;
  width:112px;
  height:34px;
}
#u1084 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u1085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1085 {
  position:absolute;
  left:808px;
  top:463px;
  width:112px;
  height:34px;
}
#u1086 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u1087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1087 {
  position:absolute;
  left:716px;
  top:515px;
  width:89px;
  height:51px;
}
#u1088 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1087_ann {
  position:absolute;
  left:798px;
  top:511px;
  width:1px;
  height:1px;
}
#u1089_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1089 {
  position:absolute;
  left:822px;
  top:792px;
  width:64px;
  height:20px;
}
#u1090 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1091 {
  position:absolute;
  left:913px;
  top:796px;
  width:64px;
  height:20px;
}
#u1092 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1093_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1093 {
  position:absolute;
  left:805px;
  top:515px;
  width:89px;
  height:51px;
}
#u1094 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1093_ann {
  position:absolute;
  left:887px;
  top:511px;
  width:1px;
  height:1px;
}
#u1095_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1095 {
  position:absolute;
  left:890px;
  top:515px;
  width:89px;
  height:51px;
}
#u1096 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1095_ann {
  position:absolute;
  left:972px;
  top:511px;
  width:1px;
  height:1px;
}
#u1097_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1097 {
  position:absolute;
  left:716px;
  top:565px;
  width:89px;
  height:51px;
}
#u1098 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1097_ann {
  position:absolute;
  left:798px;
  top:561px;
  width:1px;
  height:1px;
}
#u1099_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1099 {
  position:absolute;
  left:805px;
  top:565px;
  width:89px;
  height:51px;
}
#u1100 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1099_ann {
  position:absolute;
  left:887px;
  top:561px;
  width:1px;
  height:1px;
}
#u1101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1101 {
  position:absolute;
  left:890px;
  top:565px;
  width:89px;
  height:51px;
}
#u1102 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1101_ann {
  position:absolute;
  left:972px;
  top:561px;
  width:1px;
  height:1px;
}
#u1103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1103 {
  position:absolute;
  left:716px;
  top:616px;
  width:89px;
  height:51px;
}
#u1104 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1103_ann {
  position:absolute;
  left:798px;
  top:612px;
  width:1px;
  height:1px;
}
#u1105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1105 {
  position:absolute;
  left:805px;
  top:616px;
  width:89px;
  height:51px;
}
#u1106 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1105_ann {
  position:absolute;
  left:887px;
  top:612px;
  width:1px;
  height:1px;
}
#u1107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1107 {
  position:absolute;
  left:890px;
  top:616px;
  width:89px;
  height:51px;
}
#u1108 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1107_ann {
  position:absolute;
  left:972px;
  top:612px;
  width:1px;
  height:1px;
}
#u1109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1109 {
  position:absolute;
  left:716px;
  top:666px;
  width:89px;
  height:51px;
}
#u1110 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1109_ann {
  position:absolute;
  left:798px;
  top:662px;
  width:1px;
  height:1px;
}
#u1111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1111 {
  position:absolute;
  left:805px;
  top:666px;
  width:89px;
  height:51px;
}
#u1112 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1111_ann {
  position:absolute;
  left:887px;
  top:662px;
  width:1px;
  height:1px;
}
#u1113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1113 {
  position:absolute;
  left:890px;
  top:666px;
  width:89px;
  height:51px;
}
#u1114 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1113_ann {
  position:absolute;
  left:972px;
  top:662px;
  width:1px;
  height:1px;
}
#u1115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1115 {
  position:absolute;
  left:716px;
  top:717px;
  width:89px;
  height:51px;
}
#u1116 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1115_ann {
  position:absolute;
  left:798px;
  top:713px;
  width:1px;
  height:1px;
}
#u1117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1117 {
  position:absolute;
  left:805px;
  top:717px;
  width:89px;
  height:51px;
}
#u1118 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1117_ann {
  position:absolute;
  left:887px;
  top:713px;
  width:1px;
  height:1px;
}
#u1119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:51px;
}
#u1119 {
  position:absolute;
  left:890px;
  top:717px;
  width:89px;
  height:51px;
}
#u1120 {
  position:absolute;
  left:2px;
  top:18px;
  width:85px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1119_ann {
  position:absolute;
  left:972px;
  top:713px;
  width:1px;
  height:1px;
}
#u1121 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1122 {
  position:absolute;
  left:722px;
  top:462px;
  width:300px;
  height:268px;
}
#u1123 {
  position:absolute;
  left:2px;
  top:126px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1124_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1124 {
  position:absolute;
  left:722px;
  top:462px;
  width:112px;
  height:34px;
}
#u1125 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u1126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1126 {
  position:absolute;
  left:833px;
  top:462px;
  width:112px;
  height:34px;
}
#u1127 {
  position:absolute;
  left:2px;
  top:9px;
  width:108px;
  word-wrap:break-word;
}
#u1128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u1128 {
  position:absolute;
  left:745px;
  top:514px;
  width:75px;
  height:51px;
}
#u1129 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1128_ann {
  position:absolute;
  left:813px;
  top:510px;
  width:1px;
  height:1px;
}
#u1130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1130 {
  position:absolute;
  left:847px;
  top:692px;
  width:64px;
  height:20px;
}
#u1131 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1132 {
  position:absolute;
  left:938px;
  top:693px;
  width:64px;
  height:20px;
}
#u1133 {
  position:absolute;
  left:2px;
  top:2px;
  width:60px;
  word-wrap:break-word;
}
#u1134_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u1134 {
  position:absolute;
  left:840px;
  top:513px;
  width:70px;
  height:51px;
}
#u1135 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1134_ann {
  position:absolute;
  left:903px;
  top:509px;
  width:1px;
  height:1px;
}
#u1136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u1136 {
  position:absolute;
  left:929px;
  top:514px;
  width:75px;
  height:51px;
}
#u1137 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1136_ann {
  position:absolute;
  left:997px;
  top:510px;
  width:1px;
  height:1px;
}
#u1138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u1138 {
  position:absolute;
  left:746px;
  top:591px;
  width:75px;
  height:51px;
}
#u1139 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1138_ann {
  position:absolute;
  left:814px;
  top:587px;
  width:1px;
  height:1px;
}
#u1140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:51px;
}
#u1140 {
  position:absolute;
  left:841px;
  top:590px;
  width:70px;
  height:51px;
}
#u1141 {
  position:absolute;
  left:2px;
  top:18px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1140_ann {
  position:absolute;
  left:904px;
  top:586px;
  width:1px;
  height:1px;
}
#u1142_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:51px;
}
#u1142 {
  position:absolute;
  left:930px;
  top:591px;
  width:75px;
  height:51px;
}
#u1143 {
  position:absolute;
  left:2px;
  top:18px;
  width:71px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1142_ann {
  position:absolute;
  left:998px;
  top:587px;
  width:1px;
  height:1px;
}
