body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:108px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:108px;
}
#u56 {
  position:absolute;
  left:2px;
  top:46px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:481px;
}
#u57 {
  position:absolute;
  left:0px;
  top:233px;
  width:402px;
  height:481px;
}
#u58 {
  position:absolute;
  left:2px;
  top:232px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:67px;
}
#u59 {
  position:absolute;
  left:171px;
  top:118px;
  width:68px;
  height:67px;
}
#u60 {
  position:absolute;
  left:2px;
  top:26px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u61 {
  position:absolute;
  left:151px;
  top:198px;
  width:109px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:37px;
  top:411px;
  width:327px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
