body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:702px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:576px;
  height:350px;
}
#u3200 {
  border-width:0px;
  position:absolute;
  left:126px;
  top:61px;
  width:576px;
  height:350px;
}
#u3201 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:167px;
  width:572px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:24px;
  background:inherit;
  background-color:rgba(226, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3202 {
  border-width:0px;
  position:absolute;
  left:217px;
  top:315px;
  width:41px;
  height:24px;
}
#u3203 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:37px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:32px;
  background:inherit;
  background-color:rgba(226, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3204 {
  border-width:0px;
  position:absolute;
  left:258px;
  top:315px;
  width:63px;
  height:32px;
}
#u3205 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:63px;
  height:16px;
  background:inherit;
  background-color:rgba(226, 245, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:144px;
  top:339px;
  width:63px;
  height:16px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:59px;
  visibility:hidden;
  word-wrap:break-word;
}
