body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1452_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1452 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u1453 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1454_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1454 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u1455 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u1456 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u1457 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1458 {
  position:absolute;
  left:39px;
  top:105px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u1459 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u1460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1460 {
  position:absolute;
  left:42px;
  top:174px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1461 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1462 {
  position:absolute;
  left:42px;
  top:207px;
  width:94px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  white-space:nowrap;
}
#u1464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1464 {
  position:absolute;
  left:42px;
  top:238px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u1465 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1466 {
  position:absolute;
  left:42px;
  top:143px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u1467 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u1468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:85px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1468 {
  position:absolute;
  left:449px;
  top:365px;
  width:189px;
  height:85px;
  font-size:28px;
}
#u1469 {
  position:absolute;
  left:2px;
  top:26px;
  width:185px;
  word-wrap:break-word;
}
#u1470 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1471_div {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:85px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u1471 {
  position:absolute;
  left:777px;
  top:365px;
  width:189px;
  height:85px;
  font-size:28px;
}
#u1472 {
  position:absolute;
  left:2px;
  top:26px;
  width:185px;
  word-wrap:break-word;
}
#u1473 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1474 {
  position:absolute;
  left:191px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u1475 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u1476_div {
  position:absolute;
  left:0px;
  top:0px;
  width:161px;
  height:55px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1476 {
  position:absolute;
  left:353px;
  top:76px;
  width:161px;
  height:55px;
  font-size:16px;
}
#u1477 {
  position:absolute;
  left:2px;
  top:18px;
  width:157px;
  word-wrap:break-word;
}
#u1478_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1478 {
  position:absolute;
  left:515px;
  top:76px;
  width:162px;
  height:55px;
  font-size:16px;
}
#u1479 {
  position:absolute;
  left:2px;
  top:18px;
  width:158px;
  word-wrap:break-word;
}
#u1480_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1480 {
  position:absolute;
  left:676px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1481 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1482 {
  position:absolute;
  left:837px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1484 {
  position:absolute;
  left:997px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1485 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:55px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1486 {
  position:absolute;
  left:1158px;
  top:76px;
  width:160px;
  height:55px;
  font-size:16px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:18px;
  width:156px;
  word-wrap:break-word;
}
