body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3360 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
}
#u3361 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u3362 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u3363 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u3364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3364 {
  position:absolute;
  left:1003px;
  top:18px;
  width:130px;
  height:20px;
  color:#FFFFFF;
}
#u3365 {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  word-wrap:break-word;
}
#u3366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:594px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u3366 {
  position:absolute;
  left:0px;
  top:55px;
  width:165px;
  height:594px;
}
#u3367 {
  position:absolute;
  left:2px;
  top:289px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3368 {
  position:absolute;
  left:14px;
  top:89px;
  width:117px;
  height:25px;
}
#u3368_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3369 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3370_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3370 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u3371 {
  position:absolute;
  left:3px;
  top:-1px;
  width:85px;
  white-space:nowrap;
}
#u3372_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u3372 {
  position:absolute;
  left:1111px;
  top:14px;
  width:73px;
  height:25px;
}
#u3373 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3374 {
  position:absolute;
  left:14px;
  top:164px;
  width:120px;
  height:45px;
}
#u3374_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3375 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3376_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u3376 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u3376_img.selected {
}
#u3376.selected {
}
#u3377 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3378_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3378 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u3379 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u3375_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3380 {
  position:absolute;
  left:20px;
  top:20px;
  width:95px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3381 {
  position:absolute;
  left:22px;
  top:0px;
  width:38px;
  height:20px;
}
#u3382 {
  position:absolute;
  left:3px;
  top:-1px;
  width:33px;
  white-space:nowrap;
}
#u3383 {
  position:absolute;
  left:14px;
  top:238px;
  width:97px;
  height:25px;
}
#u3383_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3384 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3385 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u3386 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u3387 {
  position:absolute;
  left:14px;
  top:313px;
  width:97px;
  height:25px;
}
#u3387_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3388 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u3389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3389 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u3390 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u3391_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3391 {
  position:absolute;
  left:354px;
  top:304px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3392 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3393 {
  position:absolute;
  left:192px;
  top:119px;
  width:88px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3394 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u3395_img {
  position:absolute;
  left:0px;
  top:0px;
  width:580px;
  height:165px;
}
#u3395 {
  position:absolute;
  left:435px;
  top:310px;
  width:580px;
  height:165px;
}
#u3396 {
  position:absolute;
  left:2px;
  top:74px;
  width:576px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3397 {
  position:absolute;
  left:356px;
  top:529px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3398 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3399_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3399 {
  position:absolute;
  left:354px;
  top:250px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3400 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3401 {
  position:absolute;
  left:354px;
  top:211px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3402 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3403 {
  position:absolute;
  left:450px;
  top:209px;
  width:268px;
  height:25px;
}
#u3403_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:25px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u3404 {
  position:absolute;
  left:450px;
  top:250px;
  width:268px;
  height:22px;
}
#u3404_input {
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u3404_input:disabled {
  color:grayText;
}
#u3405_img {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:189px;
}
#u3405 {
  position:absolute;
  left:437px;
  top:521px;
  width:585px;
  height:189px;
}
#u3406 {
  position:absolute;
  left:2px;
  top:86px;
  width:581px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3407_div {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3407 {
  position:absolute;
  left:659px;
  top:765px;
  width:88px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3408 {
  position:absolute;
  left:2px;
  top:4px;
  width:84px;
  word-wrap:break-word;
}
#u3409_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u3409 {
  position:absolute;
  left:340px;
  top:217px;
  width:13px;
  height:9px;
}
#u3410 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3411_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u3411 {
  position:absolute;
  left:340px;
  top:256px;
  width:13px;
  height:9px;
}
#u3412 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3413_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u3413 {
  position:absolute;
  left:340px;
  top:310px;
  width:13px;
  height:9px;
}
#u3414 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3415_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:9px;
}
#u3415 {
  position:absolute;
  left:343px;
  top:535px;
  width:13px;
  height:9px;
}
#u3416 {
  position:absolute;
  left:2px;
  top:-4px;
  width:9px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3417 {
  position:absolute;
  left:213px;
  top:78px;
  width:235px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u3418 {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  white-space:nowrap;
}
