body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:715px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:715px;
}
#u81 {
  position:absolute;
  left:2px;
  top:350px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
