body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:402px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:170px;
}
#u184 {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:170px;
}
#u185 {
  position:absolute;
  left:2px;
  top:77px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u186_div {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:left;
}
#u186 {
  position:absolute;
  left:130px;
  top:101px;
  width:197px;
  height:30px;
  color:#999999;
  text-align:left;
}
#u187 {
  position:absolute;
  left:2px;
  top:6px;
  width:193px;
  word-wrap:break-word;
}
#u188_div {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u188 {
  position:absolute;
  left:30px;
  top:187px;
  width:340px;
  height:40px;
}
#u189 {
  position:absolute;
  left:2px;
  top:11px;
  width:336px;
  word-wrap:break-word;
}
