body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u3974 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u3975 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u3976 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u3977 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u3979 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1366px;
  height:34px;
}
#u3980 {
  position:absolute;
  left:0px;
  top:699px;
  width:1366px;
  height:34px;
}
#u3981 {
  position:absolute;
  left:2px;
  top:9px;
  width:1362px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3982 {
  position:absolute;
  left:1131px;
  top:657px;
  width:51px;
  height:17px;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u3984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
}
#u3984 {
  position:absolute;
  left:1149px;
  top:129px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#0099CC;
  text-align:left;
}
#u3985 {
  position:absolute;
  left:2px;
  top:14px;
  width:223px;
  word-wrap:break-word;
}
#u3986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
}
#u3986 {
  position:absolute;
  left:1140px;
  top:139px;
  width:35px;
  height:25px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:4px;
  width:31px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3988_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3988 {
  position:absolute;
  left:1269px;
  top:350px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3989 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u3990 {
  position:absolute;
  left:228px;
  top:424px;
  width:1300px;
  height:151px;
}
#u3991_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
}
#u3991 {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:10px;
  width:79px;
  word-wrap:break-word;
}
#u3993_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u3993 {
  position:absolute;
  left:83px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3994 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u3995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:40px;
}
#u3995 {
  position:absolute;
  left:191px;
  top:0px;
  width:138px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3996 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u3997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u3997 {
  position:absolute;
  left:329px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u3998 {
  position:absolute;
  left:2px;
  top:10px;
  width:96px;
  word-wrap:break-word;
}
#u3999_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:40px;
}
#u3999 {
  position:absolute;
  left:429px;
  top:0px;
  width:106px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4000 {
  position:absolute;
  left:2px;
  top:10px;
  width:102px;
  word-wrap:break-word;
}
#u4001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:40px;
}
#u4001 {
  position:absolute;
  left:535px;
  top:0px;
  width:84px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4002 {
  position:absolute;
  left:2px;
  top:10px;
  width:80px;
  word-wrap:break-word;
}
#u4003_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:40px;
}
#u4003 {
  position:absolute;
  left:619px;
  top:0px;
  width:102px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4004 {
  position:absolute;
  left:2px;
  top:10px;
  width:98px;
  word-wrap:break-word;
}
#u4005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4005 {
  position:absolute;
  left:721px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u4007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4007 {
  position:absolute;
  left:829px;
  top:0px;
  width:90px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u4009_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:40px;
}
#u4009 {
  position:absolute;
  left:919px;
  top:0px;
  width:97px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4010 {
  position:absolute;
  left:2px;
  top:10px;
  width:93px;
  word-wrap:break-word;
}
#u4011_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4011 {
  position:absolute;
  left:1016px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4012 {
  position:absolute;
  left:2px;
  top:10px;
  width:104px;
  word-wrap:break-word;
}
#u4013_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:40px;
}
#u4013 {
  position:absolute;
  left:1124px;
  top:0px;
  width:171px;
  height:40px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:16px;
}
#u4014 {
  position:absolute;
  left:2px;
  top:10px;
  width:167px;
  word-wrap:break-word;
}
#u4015_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:52px;
}
#u4015 {
  position:absolute;
  left:0px;
  top:40px;
  width:83px;
  height:52px;
}
#u4016 {
  position:absolute;
  left:2px;
  top:18px;
  width:79px;
  word-wrap:break-word;
}
#u4017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u4017 {
  position:absolute;
  left:83px;
  top:40px;
  width:108px;
  height:52px;
}
#u4018 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u4019_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:52px;
}
#u4019 {
  position:absolute;
  left:191px;
  top:40px;
  width:138px;
  height:52px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u4020 {
  position:absolute;
  left:2px;
  top:18px;
  width:134px;
  word-wrap:break-word;
}
#u4021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:52px;
}
#u4021 {
  position:absolute;
  left:329px;
  top:40px;
  width:100px;
  height:52px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4022 {
  position:absolute;
  left:2px;
  top:18px;
  width:96px;
  word-wrap:break-word;
}
#u4023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:52px;
}
#u4023 {
  position:absolute;
  left:429px;
  top:40px;
  width:106px;
  height:52px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4024 {
  position:absolute;
  left:2px;
  top:2px;
  width:102px;
  word-wrap:break-word;
}
#u4025_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:52px;
}
#u4025 {
  position:absolute;
  left:535px;
  top:40px;
  width:84px;
  height:52px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4026 {
  position:absolute;
  left:2px;
  top:18px;
  width:80px;
  word-wrap:break-word;
}
#u4027_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:52px;
}
#u4027 {
  position:absolute;
  left:619px;
  top:40px;
  width:102px;
  height:52px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4028 {
  position:absolute;
  left:2px;
  top:18px;
  width:98px;
  word-wrap:break-word;
}
#u4029_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u4029 {
  position:absolute;
  left:721px;
  top:40px;
  width:108px;
  height:52px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4030 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u4031_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:52px;
}
#u4031 {
  position:absolute;
  left:829px;
  top:40px;
  width:90px;
  height:52px;
  color:#000000;
}
#u4032 {
  position:absolute;
  left:2px;
  top:18px;
  width:86px;
  word-wrap:break-word;
}
#u4033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:52px;
}
#u4033 {
  position:absolute;
  left:919px;
  top:40px;
  width:97px;
  height:52px;
  color:#000000;
}
#u4034 {
  position:absolute;
  left:2px;
  top:18px;
  width:93px;
  word-wrap:break-word;
}
#u4035_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:52px;
}
#u4035 {
  position:absolute;
  left:1016px;
  top:40px;
  width:108px;
  height:52px;
  color:#000000;
}
#u4036 {
  position:absolute;
  left:2px;
  top:18px;
  width:104px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:52px;
}
#u4037 {
  position:absolute;
  left:1124px;
  top:40px;
  width:171px;
  height:52px;
}
#u4038 {
  position:absolute;
  left:2px;
  top:18px;
  width:167px;
  word-wrap:break-word;
}
#u4039_img {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:54px;
}
#u4039 {
  position:absolute;
  left:0px;
  top:92px;
  width:83px;
  height:54px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:19px;
  width:79px;
  word-wrap:break-word;
}
#u4041_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:54px;
}
#u4041 {
  position:absolute;
  left:83px;
  top:92px;
  width:108px;
  height:54px;
}
#u4042 {
  position:absolute;
  left:2px;
  top:19px;
  width:104px;
  word-wrap:break-word;
}
#u4043_img {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:54px;
}
#u4043 {
  position:absolute;
  left:191px;
  top:92px;
  width:138px;
  height:54px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#169BD5;
}
#u4044 {
  position:absolute;
  left:2px;
  top:19px;
  width:134px;
  word-wrap:break-word;
}
#u4045_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:54px;
}
#u4045 {
  position:absolute;
  left:329px;
  top:92px;
  width:100px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4046 {
  position:absolute;
  left:2px;
  top:19px;
  width:96px;
  word-wrap:break-word;
}
#u4047_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:54px;
}
#u4047 {
  position:absolute;
  left:429px;
  top:92px;
  width:106px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4048 {
  position:absolute;
  left:2px;
  top:3px;
  width:102px;
  word-wrap:break-word;
}
#u4049_img {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:54px;
}
#u4049 {
  position:absolute;
  left:535px;
  top:92px;
  width:84px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4050 {
  position:absolute;
  left:2px;
  top:19px;
  width:80px;
  word-wrap:break-word;
}
#u4051_img {
  position:absolute;
  left:0px;
  top:0px;
  width:102px;
  height:54px;
}
#u4051 {
  position:absolute;
  left:619px;
  top:92px;
  width:102px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4052 {
  position:absolute;
  left:2px;
  top:19px;
  width:98px;
  word-wrap:break-word;
}
#u4053_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:54px;
}
#u4053 {
  position:absolute;
  left:721px;
  top:92px;
  width:108px;
  height:54px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4054 {
  position:absolute;
  left:2px;
  top:19px;
  width:104px;
  word-wrap:break-word;
}
#u4055_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:54px;
}
#u4055 {
  position:absolute;
  left:829px;
  top:92px;
  width:90px;
  height:54px;
  color:#000000;
}
#u4056 {
  position:absolute;
  left:2px;
  top:19px;
  width:86px;
  word-wrap:break-word;
}
#u4057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:54px;
}
#u4057 {
  position:absolute;
  left:919px;
  top:92px;
  width:97px;
  height:54px;
  color:#000000;
}
#u4058 {
  position:absolute;
  left:2px;
  top:19px;
  width:93px;
  word-wrap:break-word;
}
#u4059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:54px;
}
#u4059 {
  position:absolute;
  left:1016px;
  top:92px;
  width:108px;
  height:54px;
  color:#000000;
}
#u4060 {
  position:absolute;
  left:2px;
  top:19px;
  width:104px;
  word-wrap:break-word;
}
#u4061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:54px;
}
#u4061 {
  position:absolute;
  left:1124px;
  top:92px;
  width:171px;
  height:54px;
}
#u4062 {
  position:absolute;
  left:2px;
  top:19px;
  width:167px;
  word-wrap:break-word;
}
#u4063 {
  position:absolute;
  left:1469px;
  top:476px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4063_ann {
  position:absolute;
  left:1496px;
  top:472px;
  width:1px;
  height:1px;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1295px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4064 {
  position:absolute;
  left:228px;
  top:569px;
  width:1295px;
  height:50px;
}
#u4065 {
  position:absolute;
  left:2px;
  top:17px;
  width:1291px;
  word-wrap:break-word;
}
#u4066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4066 {
  position:absolute;
  left:1065px;
  top:582px;
  width:44px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4067 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u4068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4068 {
  position:absolute;
  left:1002px;
  top:585px;
  width:20px;
  height:20px;
}
#u4069 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:47px;
}
#u4070 {
  position:absolute;
  left:636px;
  top:122px;
  width:227px;
  height:47px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#0099CC;
  text-align:left;
}
#u4071 {
  position:absolute;
  left:2px;
  top:12px;
  width:223px;
  word-wrap:break-word;
}
#u4070_ann {
  position:absolute;
  left:856px;
  top:118px;
  width:1px;
  height:1px;
}
#u4072 {
  position:absolute;
  left:1419px;
  top:475px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4072_ann {
  position:absolute;
  left:1446px;
  top:471px;
  width:1px;
  height:1px;
}
#u4073 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4074_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u4074 {
  position:absolute;
  left:909px;
  top:251px;
  width:20px;
  height:22px;
}
#u4075 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4076 {
  position:absolute;
  left:506px;
  top:251px;
  width:423px;
  height:244px;
}
#u4077 {
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4078 {
  position:absolute;
  left:735px;
  top:435px;
  width:140px;
  height:40px;
}
#u4079 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4080_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4080 {
  position:absolute;
  left:538px;
  top:435px;
  width:140px;
  height:40px;
}
#u4081 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4082_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:36px;
}
#u4082 {
  position:absolute;
  left:610px;
  top:324px;
  width:300px;
  height:42px;
  font-size:36px;
}
#u4083 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u4084 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4085 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:23px;
}
#u4086 {
  position:absolute;
  left:1088px;
  top:251px;
  width:20px;
  height:22px;
}
#u4087 {
  position:absolute;
  left:2px;
  top:3px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:244px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4088 {
  position:absolute;
  left:685px;
  top:251px;
  width:423px;
  height:244px;
}
#u4089 {
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4090 {
  position:absolute;
  left:857px;
  top:266px;
  width:85px;
  height:16px;
  font-family:'PingFang SC Bold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u4091 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u4092 {
  position:absolute;
  left:733px;
  top:301px;
  width:337px;
  height:109px;
}
#u4092_input {
  position:absolute;
  left:0px;
  top:0px;
  width:337px;
  height:109px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u4093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4093 {
  position:absolute;
  left:717px;
  top:435px;
  width:140px;
  height:40px;
}
#u4094 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4095 {
  position:absolute;
  left:914px;
  top:435px;
  width:140px;
  height:40px;
}
#u4096 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
#u4097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4097 {
  position:absolute;
  left:1192px;
  top:642px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u4098 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u4099 {
  position:absolute;
  left:237px;
  top:486px;
  width:97px;
  height:16px;
}
#u4100 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4099_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4101 {
  position:absolute;
  left:237px;
  top:439px;
  width:97px;
  height:16px;
}
#u4102 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4101_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4103 {
  position:absolute;
  left:240px;
  top:530px;
  width:97px;
  height:16px;
}
#u4104 {
  position:absolute;
  left:16px;
  top:0px;
  width:79px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4103_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u4105_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4105 {
  position:absolute;
  left:1105px;
  top:217px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4106 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4107_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4107 {
  position:absolute;
  left:698px;
  top:287px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4108 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4109 {
  position:absolute;
  left:775px;
  top:282px;
  width:196px;
  height:32px;
}
#u4109_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4109_input:disabled {
  color:grayText;
}
#u4110 {
  position:absolute;
  left:1181px;
  top:282px;
  width:197px;
  height:32px;
}
#u4110_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4110_input:disabled {
  color:grayText;
}
#u4111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4111 {
  position:absolute;
  left:224px;
  top:217px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4112 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4113 {
  position:absolute;
  left:1186px;
  top:212px;
  width:193px;
  height:32px;
}
#u4113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4113_input:disabled {
  color:grayText;
}
#u4114_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4114 {
  position:absolute;
  left:1105px;
  top:287px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4115 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u4116_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4116 {
  position:absolute;
  left:232px;
  top:292px;
  width:55px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4117 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u4118 {
  position:absolute;
  left:312px;
  top:212px;
  width:193px;
  height:32px;
}
#u4118_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4118_input:disabled {
  color:grayText;
}
#u4119 {
  position:absolute;
  left:318px;
  top:282px;
  width:198px;
  height:32px;
}
#u4119_input {
  position:absolute;
  left:0px;
  top:0px;
  width:198px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4119_input:disabled {
  color:grayText;
}
#u4120_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4120 {
  position:absolute;
  left:232px;
  top:362px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4121 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u4122_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u4122 {
  position:absolute;
  left:315px;
  top:383px;
  width:196px;
  height:1px;
}
#u4123 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4124 {
  position:absolute;
  left:1378px;
  top:476px;
  width:34px;
  height:20px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4124_ann {
  position:absolute;
  left:1405px;
  top:472px;
  width:1px;
  height:1px;
}
#u4125_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:61px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u4125 {
  position:absolute;
  left:1591px;
  top:455px;
  width:129px;
  height:61px;
  text-align:left;
}
#u4126 {
  position:absolute;
  left:2px;
  top:22px;
  width:125px;
  word-wrap:break-word;
}
#u4127 {
  position:absolute;
  left:1591px;
  top:486px;
  width:0px;
  height:0px;
}
#u4127_seg0 {
  position:absolute;
  left:-127px;
  top:-4px;
  width:127px;
  height:8px;
}
#u4127_seg1 {
  position:absolute;
  left:-127px;
  top:-1px;
  width:8px;
  height:5px;
}
#u4128 {
  position:absolute;
  left:-112px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4129 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4130 {
  position:absolute;
  left:39px;
  top:107px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u4131 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u4132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u4132 {
  position:absolute;
  left:39px;
  top:227px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u4133 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4134 {
  position:absolute;
  left:39px;
  top:254px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4135 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u4136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4136 {
  position:absolute;
  left:39px;
  top:148px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4137 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4138 {
  position:absolute;
  left:39px;
  top:173px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4139 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u4140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4140 {
  position:absolute;
  left:39px;
  top:198px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u4141 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u4142 {
  position:absolute;
  left:775px;
  top:207px;
  width:193px;
  height:32px;
}
#u4142_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u4142_input:disabled {
  color:grayText;
}
#u4143_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4143 {
  position:absolute;
  left:698px;
  top:207px;
  width:55px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u4144 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
