body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1748px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:952px;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:952px;
}
#u279_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u280_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:952px;
  background:inherit;
  background-color:rgba(102, 102, 102, 0.788235294117647);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u280 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1450px;
  height:952px;
}
#u280_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:542px;
}
#u281 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:198px;
  width:651px;
  height:542px;
}
#u281_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u282 {
  border-width:0px;
  position:absolute;
  left:924px;
  top:334px;
  width:61px;
  height:380px;
}
#u283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:95px;
}
#u283 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:95px;
  color:#0194DA;
}
#u283_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:57px;
  word-wrap:break-word;
}
#u284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:95px;
}
#u284 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:95px;
  width:61px;
  height:95px;
  color:#0194DA;
}
#u284_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:57px;
  word-wrap:break-word;
}
#u285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:95px;
}
#u285 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:61px;
  height:95px;
  color:#0194DA;
}
#u285_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:57px;
  word-wrap:break-word;
}
#u286_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:95px;
}
#u286 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:285px;
  width:61px;
  height:95px;
  color:#0194DA;
}
#u286_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:40px;
  width:57px;
  word-wrap:break-word;
}
#u287_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:56px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
  line-height:28px;
}
#u287 {
  border-width:0px;
  position:absolute;
  left:1473px;
  top:299px;
  width:275px;
  height:56px;
  color:#FF0000;
  line-height:28px;
}
#u287_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  white-space:nowrap;
}
#u288 {
  border-width:0px;
  position:absolute;
  left:973px;
  top:198px;
  width:67px;
  height:71px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
