body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:435px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:687px;
}
#u0 {
  position:absolute;
  left:32px;
  top:105px;
  width:402px;
  height:687px;
}
#u1 {
  position:absolute;
  left:2px;
  top:336px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:402px;
  height:23px;
}
#u2 {
  position:absolute;
  left:33px;
  top:105px;
  width:402px;
  height:23px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:398px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:201px;
  height:2px;
}
#u5 {
  position:absolute;
  left:142px;
  top:451px;
  width:200px;
  height:1px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u6 {
  position:absolute;
  left:2px;
  top:-8px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:31px;
}
#u7 {
  position:absolute;
  left:166px;
  top:436px;
  width:153px;
  height:31px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u8 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:77px;
  top:339px;
  width:330px;
  height:36px;
  overflow:hidden;
}
#u9_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:36px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u9_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:39px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:330px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u11 {
  position:absolute;
  left:2px;
  top:10px;
  width:326px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:70px;
  top:493px;
  visibility:hidden;
}
#u12_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:272px;
  height:35px;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u14 {
  position:absolute;
  left:70px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u16 {
  position:absolute;
  left:140px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u17 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:36px;
}
#u18 {
  position:absolute;
  left:212px;
  top:0px;
  width:60px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u19 {
  position:absolute;
  left:2px;
  top:8px;
  width:56px;
  word-wrap:break-word;
}
