body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1068px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:881px;
  height:2px;
}
#u1945 {
  position:absolute;
  left:169px;
  top:112px;
  width:880px;
  height:1px;
}
#u1946 {
  position:absolute;
  left:2px;
  top:-8px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u1947 {
  position:absolute;
  left:499px;
  top:175px;
  width:141px;
  height:34px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#0099CC;
}
#u1948 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u1949 {
  position:absolute;
  left:398px;
  top:223px;
  width:74px;
  height:46px;
  font-size:11px;
  color:#1E1E1E;
}
#u1950 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1951 {
  position:absolute;
  left:471px;
  top:223px;
  width:68px;
  height:46px;
  font-size:11px;
}
#u1952 {
  position:absolute;
  left:2px;
  top:16px;
  width:64px;
  word-wrap:break-word;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1953 {
  position:absolute;
  left:537px;
  top:223px;
  width:64px;
  height:46px;
  font-size:11px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1955 {
  position:absolute;
  left:662px;
  top:223px;
  width:62px;
  height:46px;
  font-size:11px;
}
#u1956 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1957 {
  position:absolute;
  left:978px;
  top:223px;
  width:62px;
  height:46px;
  font-size:11px;
}
#u1958 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1959 {
  position:absolute;
  left:600px;
  top:223px;
  width:64px;
  height:46px;
  font-size:11px;
}
#u1960 {
  position:absolute;
  left:2px;
  top:16px;
  width:60px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u1961 {
  position:absolute;
  left:181px;
  top:223px;
  width:74px;
  height:46px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
}
#u1962 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u1963 {
  position:absolute;
  left:254px;
  top:223px;
  width:74px;
  height:46px;
  font-size:11px;
  color:#1E1E1E;
}
#u1964 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#1E1E1E;
}
#u1965 {
  position:absolute;
  left:327px;
  top:223px;
  width:74px;
  height:46px;
  font-size:11px;
  color:#1E1E1E;
}
#u1966 {
  position:absolute;
  left:2px;
  top:16px;
  width:70px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1967 {
  position:absolute;
  left:197px;
  top:304px;
  width:271px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1968 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1969_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1969 {
  position:absolute;
  left:181px;
  top:304px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u1970 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1971_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u1971 {
  position:absolute;
  left:162px;
  top:622px;
  width:712px;
  height:1px;
}
#u1972 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1973_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1973 {
  position:absolute;
  left:197px;
  top:634px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1974 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1975_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1975 {
  position:absolute;
  left:181px;
  top:634px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u1976 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1977_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u1977 {
  position:absolute;
  left:162px;
  top:971px;
  width:712px;
  height:1px;
}
#u1978 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1979 {
  position:absolute;
  left:197px;
  top:993px;
  width:152px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1980 {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  white-space:nowrap;
}
#u1981_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1981 {
  position:absolute;
  left:181px;
  top:993px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u1982 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1983_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u1983 {
  position:absolute;
  left:162px;
  top:1292px;
  width:712px;
  height:1px;
}
#u1984 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1985_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1985 {
  position:absolute;
  left:197px;
  top:1314px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1986 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1987_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1987 {
  position:absolute;
  left:181px;
  top:1314px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u1988 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1989_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u1989 {
  position:absolute;
  left:163px;
  top:1619px;
  width:712px;
  height:1px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1991 {
  position:absolute;
  left:198px;
  top:1641px;
  width:96px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1993_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1993 {
  position:absolute;
  left:182px;
  top:1641px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u1994 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u1995 {
  position:absolute;
  left:163px;
  top:2251px;
  width:712px;
  height:1px;
}
#u1996 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1997 {
  position:absolute;
  left:198px;
  top:2273px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u1999_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u1999 {
  position:absolute;
  left:182px;
  top:2273px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2000 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2001 {
  position:absolute;
  left:162px;
  top:2605px;
  width:712px;
  height:1px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2003 {
  position:absolute;
  left:197px;
  top:2627px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2005_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2005 {
  position:absolute;
  left:181px;
  top:2627px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2006 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2007_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2007 {
  position:absolute;
  left:159px;
  top:2944px;
  width:712px;
  height:1px;
}
#u2008 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2009 {
  position:absolute;
  left:194px;
  top:2966px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2010 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2011_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2011 {
  position:absolute;
  left:178px;
  top:2966px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2012 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2013 {
  position:absolute;
  left:252px;
  top:129px;
  width:73px;
  height:22px;
}
#u2013_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u2013_input:disabled {
  color:grayText;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2014 {
  position:absolute;
  left:179px;
  top:132px;
  width:71px;
  height:17px;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:401px;
  height:239px;
}
#u2016 {
  position:absolute;
  left:290px;
  top:348px;
  width:401px;
  height:239px;
}
#u2017 {
  position:absolute;
  left:2px;
  top:112px;
  width:397px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:412px;
  height:277px;
}
#u2018 {
  position:absolute;
  left:290px;
  top:672px;
  width:412px;
  height:277px;
}
#u2019 {
  position:absolute;
  left:2px;
  top:130px;
  width:408px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:397px;
  height:210px;
}
#u2020 {
  position:absolute;
  left:294px;
  top:1041px;
  width:397px;
  height:210px;
}
#u2021 {
  position:absolute;
  left:2px;
  top:97px;
  width:393px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:413px;
  height:230px;
}
#u2022 {
  position:absolute;
  left:295px;
  top:2696px;
  width:413px;
  height:230px;
}
#u2023 {
  position:absolute;
  left:2px;
  top:107px;
  width:409px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:415px;
  height:256px;
}
#u2024 {
  position:absolute;
  left:293px;
  top:2317px;
  width:415px;
  height:256px;
}
#u2025 {
  position:absolute;
  left:2px;
  top:120px;
  width:411px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:218px;
}
#u2026 {
  position:absolute;
  left:300px;
  top:3021px;
  width:408px;
  height:218px;
}
#u2027 {
  position:absolute;
  left:2px;
  top:101px;
  width:404px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:237px;
}
#u2028 {
  position:absolute;
  left:297px;
  top:1348px;
  width:394px;
  height:237px;
}
#u2029 {
  position:absolute;
  left:2px;
  top:110px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  height:13px;
}
#u2030 {
  position:absolute;
  left:185px;
  top:276px;
  width:527px;
  height:13px;
}
#u2031 {
  position:absolute;
  left:0px;
  top:0px;
  width:527px;
  white-space:nowrap;
}
#u2032_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2032 {
  position:absolute;
  left:852px;
  top:223px;
  width:62px;
  height:46px;
  font-size:11px;
}
#u2033 {
  position:absolute;
  left:2px;
  top:16px;
  width:58px;
  word-wrap:break-word;
}
#u2034_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2034 {
  position:absolute;
  left:722px;
  top:223px;
  width:66px;
  height:46px;
  font-size:11px;
}
#u2035 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  word-wrap:break-word;
}
#u2036_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2036 {
  position:absolute;
  left:787px;
  top:223px;
  width:66px;
  height:46px;
  font-size:11px;
}
#u2037 {
  position:absolute;
  left:2px;
  top:16px;
  width:62px;
  word-wrap:break-word;
}
#u2038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2038 {
  position:absolute;
  left:914px;
  top:223px;
  width:65px;
  height:46px;
  font-size:11px;
}
#u2039 {
  position:absolute;
  left:2px;
  top:16px;
  width:61px;
  word-wrap:break-word;
}
#u2040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2040 {
  position:absolute;
  left:166px;
  top:3267px;
  width:712px;
  height:1px;
}
#u2041 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2042_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2042 {
  position:absolute;
  left:207px;
  top:3311px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2044_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2044 {
  position:absolute;
  left:191px;
  top:3311px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2045 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2046 {
  position:absolute;
  left:163px;
  top:3646px;
  width:712px;
  height:1px;
}
#u2047 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2048 {
  position:absolute;
  left:207px;
  top:3670px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2050_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2050 {
  position:absolute;
  left:191px;
  top:3670px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2051 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2052 {
  position:absolute;
  left:164px;
  top:3971px;
  width:712px;
  height:1px;
}
#u2053 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2054 {
  position:absolute;
  left:207px;
  top:3990px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2056_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2056 {
  position:absolute;
  left:191px;
  top:3990px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2057 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2058 {
  position:absolute;
  left:166px;
  top:4242px;
  width:712px;
  height:1px;
}
#u2059 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2060_img {
  position:absolute;
  left:0px;
  top:0px;
  width:352px;
  height:226px;
}
#u2060 {
  position:absolute;
  left:309px;
  top:3369px;
  width:352px;
  height:226px;
}
#u2061 {
  position:absolute;
  left:2px;
  top:105px;
  width:348px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:241px;
}
#u2062 {
  position:absolute;
  left:334px;
  top:3704px;
  width:340px;
  height:241px;
}
#u2063 {
  position:absolute;
  left:2px;
  top:112px;
  width:336px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:188px;
}
#u2064 {
  position:absolute;
  left:331px;
  top:4028px;
  width:343px;
  height:188px;
}
#u2065 {
  position:absolute;
  left:2px;
  top:86px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2066_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
}
#u2066 {
  position:absolute;
  left:468px;
  top:4035px;
  width:73px;
  height:23px;
}
#u2067 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  word-wrap:break-word;
}
#u2068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2068 {
  position:absolute;
  left:222px;
  top:4261px;
  width:55px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2069 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2070_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2070 {
  position:absolute;
  left:206px;
  top:4261px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2071 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2072_img {
  position:absolute;
  left:0px;
  top:0px;
  width:353px;
  height:237px;
}
#u2072 {
  position:absolute;
  left:313px;
  top:4318px;
  width:353px;
  height:237px;
}
#u2073 {
  position:absolute;
  left:2px;
  top:110px;
  width:349px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:89px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2074 {
  position:absolute;
  left:428px;
  top:4312px;
  width:89px;
  height:41px;
}
#u2075 {
  position:absolute;
  left:2px;
  top:12px;
  width:85px;
  word-wrap:break-word;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:713px;
  height:2px;
}
#u2076 {
  position:absolute;
  left:163px;
  top:4574px;
  width:712px;
  height:1px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:-8px;
  width:708px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2078 {
  position:absolute;
  left:198px;
  top:4596px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u2079 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2080_img {
  position:absolute;
  left:-1px;
  top:-1px;
  width:5px;
  height:25px;
}
#u2080 {
  position:absolute;
  left:182px;
  top:4596px;
  width:2px;
  height:22px;
  color:#0000FF;
}
#u2081 {
  position:absolute;
  left:2px;
  top:3px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2082_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:243px;
}
#u2082 {
  position:absolute;
  left:302px;
  top:4655px;
  width:423px;
  height:243px;
}
#u2083 {
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:44px;
}
#u2084 {
  position:absolute;
  left:401px;
  top:4662px;
  width:298px;
  height:44px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:14px;
  width:294px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:243px;
}
#u2086 {
  position:absolute;
  left:302px;
  top:4930px;
  width:423px;
  height:243px;
}
#u2087 {
  position:absolute;
  left:2px;
  top:114px;
  width:419px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:10px;
}
#u2088 {
  position:absolute;
  left:565px;
  top:4950px;
  width:70px;
  height:24px;
  font-size:10px;
}
#u2089 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u2090_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
}
#u2090 {
  position:absolute;
  left:318px;
  top:3571px;
  width:334px;
  height:22px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
}
#u2092 {
  position:absolute;
  left:336px;
  top:3919px;
  width:334px;
  height:22px;
}
#u2093 {
  position:absolute;
  left:2px;
  top:3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2094_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
}
#u2094 {
  position:absolute;
  left:340px;
  top:4194px;
  width:334px;
  height:22px;
}
#u2095 {
  position:absolute;
  left:2px;
  top:3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2096_img {
  position:absolute;
  left:0px;
  top:0px;
  width:334px;
  height:22px;
}
#u2096 {
  position:absolute;
  left:312px;
  top:4533px;
  width:334px;
  height:22px;
}
#u2097 {
  position:absolute;
  left:2px;
  top:3px;
  width:330px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2098_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:33px;
}
#u2098 {
  position:absolute;
  left:526px;
  top:4662px;
  width:59px;
  height:33px;
}
#u2099 {
  position:absolute;
  left:2px;
  top:8px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2100_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:21px;
}
#u2100 {
  position:absolute;
  left:985px;
  top:131px;
  width:29px;
  height:21px;
}
#u2101 {
  position:absolute;
  left:2px;
  top:2px;
  width:25px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2102 {
  position:absolute;
  left:1023px;
  top:136px;
  width:64px;
  height:16px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  word-wrap:break-word;
}
#u2104_img {
  position:absolute;
  left:0px;
  top:0px;
  width:394px;
  height:239px;
}
#u2104 {
  position:absolute;
  left:305px;
  top:1683px;
  width:394px;
  height:239px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:112px;
  width:390px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2106_img {
  position:absolute;
  left:0px;
  top:0px;
  width:391px;
  height:266px;
}
#u2106 {
  position:absolute;
  left:307px;
  top:1955px;
  width:391px;
  height:266px;
}
#u2107 {
  position:absolute;
  left:2px;
  top:125px;
  width:387px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2108 {
  position:absolute;
  left:712px;
  top:129px;
  width:73px;
  height:22px;
}
#u2108_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u2108_input:disabled {
  color:grayText;
}
#u2108_ann {
  position:absolute;
  left:778px;
  top:125px;
  width:1px;
  height:1px;
}
#u2109_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2109 {
  position:absolute;
  left:655px;
  top:131px;
  width:43px;
  height:17px;
}
#u2110 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2109_ann {
  position:absolute;
  left:691px;
  top:127px;
  width:1px;
  height:1px;
}
#u2111_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2111 {
  position:absolute;
  left:424px;
  top:132px;
  width:43px;
  height:17px;
}
#u2112 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u2111_ann {
  position:absolute;
  left:460px;
  top:128px;
  width:1px;
  height:1px;
}
#u2113 {
  position:absolute;
  left:502px;
  top:129px;
  width:73px;
  height:22px;
}
#u2113_input {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u2113_input:disabled {
  color:grayText;
}
#u2114 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2115_div {
  position:absolute;
  left:0px;
  top:0px;
  width:162px;
  height:4102px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2115 {
  position:absolute;
  left:-19px;
  top:112px;
  width:162px;
  height:4102px;
}
#u2116 {
  position:absolute;
  left:2px;
  top:2043px;
  width:158px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2117 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2118 {
  position:absolute;
  left:34px;
  top:137px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2119 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2120_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u2120 {
  position:absolute;
  left:14px;
  top:139px;
  width:13px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2121 {
  position:absolute;
  left:1px;
  top:0px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:5.5px 7.5px;
  -ms-transform-origin:5.5px 7.5px;
  -moz-transform-origin:5.5px 7.5px;
  -webkit-transform-origin:5.5px 7.5px;
}
#u2122_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u2122 {
  position:absolute;
  left:50px;
  top:167px;
  width:49px;
  height:15px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:12px;
  color:#0000FF;
}
#u2123 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2124_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u2124 {
  position:absolute;
  left:19px;
  top:397px;
  width:13px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2125 {
  position:absolute;
  left:1px;
  top:0px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:5.5px 7.5px;
  -ms-transform-origin:5.5px 7.5px;
  -moz-transform-origin:5.5px 7.5px;
  -webkit-transform-origin:5.5px 7.5px;
}
#u2126_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2126 {
  position:absolute;
  left:58px;
  top:428px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2128_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2128 {
  position:absolute;
  left:58px;
  top:452px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2130_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2130 {
  position:absolute;
  left:51px;
  top:271px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2132_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2132 {
  position:absolute;
  left:46px;
  top:298px;
  width:61px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2133 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u2134_div {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2134 {
  position:absolute;
  left:41px;
  top:325px;
  width:76px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:76px;
  white-space:nowrap;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2136 {
  position:absolute;
  left:50px;
  top:348px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2137 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2138_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2138 {
  position:absolute;
  left:44px;
  top:397px;
  width:65px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2140 {
  position:absolute;
  left:36px;
  top:222px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2141 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2142 {
  position:absolute;
  left:50px;
  top:197px;
  width:49px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2144 {
  position:absolute;
  left:38px;
  top:244px;
  width:85px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
