body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3352_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u3352 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u3353 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3354_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u3354 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u3355 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u3356 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u3357 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:92px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3358 {
  position:absolute;
  left:322px;
  top:340px;
  width:242px;
  height:92px;
  font-size:20px;
}
#u3359 {
  position:absolute;
  left:2px;
  top:34px;
  width:238px;
  word-wrap:break-word;
}
#u3360_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:92px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u3360 {
  position:absolute;
  left:781px;
  top:340px;
  width:242px;
  height:92px;
  font-size:20px;
}
#u3361 {
  position:absolute;
  left:2px;
  top:34px;
  width:238px;
  word-wrap:break-word;
}
#u3362_div {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3362 {
  position:absolute;
  left:402px;
  top:456px;
  width:82px;
  height:23px;
  font-size:16px;
}
#u3363 {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u3364_div {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3364 {
  position:absolute;
  left:798px;
  top:456px;
  width:213px;
  height:19px;
  font-size:16px;
}
#u3365 {
  position:absolute;
  left:0px;
  top:0px;
  width:213px;
  word-wrap:break-word;
}
