body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1262px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4866_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4866 {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:55px;
}
#u4867 {
  position:absolute;
  left:2px;
  top:20px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4868_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u4868 {
  position:absolute;
  left:23px;
  top:13px;
  width:113px;
  height:25px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-style:normal;
  color:#FFFFFF;
}
#u4869 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u4870_div {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4870 {
  position:absolute;
  left:1032px;
  top:18px;
  width:101px;
  height:20px;
  color:#FFFFFF;
}
#u4871 {
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u4872_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:594px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  -webkit-box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
  box-shadow:2px 0px 5px rgba(0, 0, 0, 0.349019607843137);
}
#u4872 {
  position:absolute;
  left:0px;
  top:55px;
  width:165px;
  height:594px;
}
#u4873 {
  position:absolute;
  left:2px;
  top:289px;
  width:161px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4874 {
  position:absolute;
  left:14px;
  top:89px;
  width:117px;
  height:25px;
}
#u4874_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4875 {
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4876_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4876 {
  position:absolute;
  left:22px;
  top:0px;
  width:90px;
  height:20px;
}
#u4877 {
  position:absolute;
  left:3px;
  top:-1px;
  width:85px;
  white-space:nowrap;
}
#u4878_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:25px;
}
#u4878 {
  position:absolute;
  left:1111px;
  top:14px;
  width:73px;
  height:25px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:4px;
  width:69px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4880 {
  position:absolute;
  left:14px;
  top:164px;
  width:97px;
  height:45px;
}
#u4880_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4881 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4882_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u4882 {
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u4882_img.selected {
}
#u4882.selected {
}
#u4883 {
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4884 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4885 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4881_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4886 {
  position:absolute;
  left:20px;
  top:20px;
  width:54px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  color:#666666;
}
#u4887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4887 {
  position:absolute;
  left:22px;
  top:0px;
  width:32px;
  height:20px;
}
#u4888 {
  position:absolute;
  left:3px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u4889 {
  position:absolute;
  left:14px;
  top:238px;
  width:97px;
  height:25px;
}
#u4889_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4890 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4891 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4892 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4893 {
  position:absolute;
  left:14px;
  top:313px;
  width:97px;
  height:25px;
}
#u4893_children {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4894 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:20px;
  font-family:'PingFangSC-Medium', 'PingFang SC Medium', 'PingFang SC';
  font-weight:500;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4895_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4895 {
  position:absolute;
  left:22px;
  top:0px;
  width:70px;
  height:20px;
}
#u4896 {
  position:absolute;
  left:3px;
  top:-1px;
  width:65px;
  white-space:nowrap;
}
#u4897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4897 {
  position:absolute;
  left:192px;
  top:72px;
  width:227px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4898 {
  position:absolute;
  left:0px;
  top:0px;
  width:227px;
  white-space:nowrap;
}
#u4899 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4900 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4901 {
  position:absolute;
  left:290px;
  top:251px;
  width:977px;
  height:374px;
}
#u4902_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
}
#u4902 {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4903 {
  position:absolute;
  left:2px;
  top:10px;
  width:27px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:35px;
}
#u4904 {
  position:absolute;
  left:31px;
  top:0px;
  width:214px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4905 {
  position:absolute;
  left:2px;
  top:6px;
  width:210px;
  word-wrap:break-word;
}
#u4904_ann {
  position:absolute;
  left:231px;
  top:0px;
  width:1px;
  height:1px;
}
#u4906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:35px;
}
#u4906 {
  position:absolute;
  left:245px;
  top:0px;
  width:136px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4907 {
  position:absolute;
  left:2px;
  top:6px;
  width:132px;
  word-wrap:break-word;
}
#u4908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:35px;
}
#u4908 {
  position:absolute;
  left:381px;
  top:0px;
  width:170px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4909 {
  position:absolute;
  left:2px;
  top:6px;
  width:166px;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:35px;
}
#u4910 {
  position:absolute;
  left:551px;
  top:0px;
  width:167px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4911 {
  position:absolute;
  left:2px;
  top:6px;
  width:163px;
  word-wrap:break-word;
}
#u4912_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:35px;
}
#u4912 {
  position:absolute;
  left:718px;
  top:0px;
  width:208px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4913 {
  position:absolute;
  left:2px;
  top:6px;
  width:204px;
  word-wrap:break-word;
}
#u4914_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:35px;
}
#u4914 {
  position:absolute;
  left:926px;
  top:0px;
  width:189px;
  height:35px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u4915 {
  position:absolute;
  left:2px;
  top:6px;
  width:185px;
  word-wrap:break-word;
}
#u4916_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:37px;
}
#u4916 {
  position:absolute;
  left:0px;
  top:35px;
  width:31px;
  height:37px;
}
#u4917 {
  position:absolute;
  left:2px;
  top:11px;
  width:27px;
  word-wrap:break-word;
}
#u4918_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:37px;
}
#u4918 {
  position:absolute;
  left:31px;
  top:35px;
  width:214px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4919 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u4920_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:37px;
}
#u4920 {
  position:absolute;
  left:245px;
  top:35px;
  width:136px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4921 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u4922_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:37px;
}
#u4922 {
  position:absolute;
  left:381px;
  top:35px;
  width:170px;
  height:37px;
  color:#666666;
}
#u4923 {
  position:absolute;
  left:2px;
  top:11px;
  width:166px;
  word-wrap:break-word;
}
#u4924_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:37px;
}
#u4924 {
  position:absolute;
  left:551px;
  top:35px;
  width:167px;
  height:37px;
  color:#666666;
}
#u4925 {
  position:absolute;
  left:2px;
  top:11px;
  width:163px;
  word-wrap:break-word;
}
#u4926_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:37px;
}
#u4926 {
  position:absolute;
  left:718px;
  top:35px;
  width:208px;
  height:37px;
  color:#666666;
}
#u4927 {
  position:absolute;
  left:2px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:37px;
}
#u4928 {
  position:absolute;
  left:926px;
  top:35px;
  width:189px;
  height:37px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u4929 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u4930_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:32px;
}
#u4930 {
  position:absolute;
  left:0px;
  top:72px;
  width:31px;
  height:32px;
}
#u4931 {
  position:absolute;
  left:2px;
  top:8px;
  width:27px;
  word-wrap:break-word;
}
#u4932_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:32px;
}
#u4932 {
  position:absolute;
  left:31px;
  top:72px;
  width:214px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4933 {
  position:absolute;
  left:2px;
  top:7px;
  width:210px;
  word-wrap:break-word;
}
#u4934_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:32px;
}
#u4934 {
  position:absolute;
  left:245px;
  top:72px;
  width:136px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4935 {
  position:absolute;
  left:2px;
  top:7px;
  width:132px;
  word-wrap:break-word;
}
#u4936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:32px;
}
#u4936 {
  position:absolute;
  left:381px;
  top:72px;
  width:170px;
  height:32px;
  color:#666666;
}
#u4937 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u4938_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:32px;
}
#u4938 {
  position:absolute;
  left:551px;
  top:72px;
  width:167px;
  height:32px;
  color:#666666;
}
#u4939 {
  position:absolute;
  left:2px;
  top:8px;
  width:163px;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:32px;
}
#u4940 {
  position:absolute;
  left:718px;
  top:72px;
  width:208px;
  height:32px;
  color:#666666;
}
#u4941 {
  position:absolute;
  left:2px;
  top:8px;
  width:204px;
  word-wrap:break-word;
}
#u4942_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:32px;
}
#u4942 {
  position:absolute;
  left:926px;
  top:72px;
  width:189px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u4943 {
  position:absolute;
  left:2px;
  top:7px;
  width:185px;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
}
#u4944 {
  position:absolute;
  left:0px;
  top:104px;
  width:31px;
  height:39px;
}
#u4945 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  word-wrap:break-word;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:39px;
}
#u4946 {
  position:absolute;
  left:31px;
  top:104px;
  width:214px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4947 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u4948_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
}
#u4948 {
  position:absolute;
  left:245px;
  top:104px;
  width:136px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4949 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u4950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u4950 {
  position:absolute;
  left:381px;
  top:104px;
  width:170px;
  height:39px;
  color:#666666;
}
#u4951 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4952_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u4952 {
  position:absolute;
  left:551px;
  top:104px;
  width:167px;
  height:39px;
  color:#666666;
}
#u4953 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u4954_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u4954 {
  position:absolute;
  left:718px;
  top:104px;
  width:208px;
  height:39px;
  color:#666666;
}
#u4955 {
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:39px;
}
#u4956 {
  position:absolute;
  left:926px;
  top:104px;
  width:189px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u4957 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u4958_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:39px;
}
#u4958 {
  position:absolute;
  left:0px;
  top:143px;
  width:31px;
  height:39px;
}
#u4959 {
  position:absolute;
  left:2px;
  top:12px;
  width:27px;
  word-wrap:break-word;
}
#u4960_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:39px;
}
#u4960 {
  position:absolute;
  left:31px;
  top:143px;
  width:214px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4961 {
  position:absolute;
  left:2px;
  top:10px;
  width:210px;
  word-wrap:break-word;
}
#u4962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
}
#u4962 {
  position:absolute;
  left:245px;
  top:143px;
  width:136px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4963 {
  position:absolute;
  left:2px;
  top:10px;
  width:132px;
  word-wrap:break-word;
}
#u4964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:39px;
}
#u4964 {
  position:absolute;
  left:381px;
  top:143px;
  width:170px;
  height:39px;
  color:#666666;
}
#u4965 {
  position:absolute;
  left:2px;
  top:12px;
  width:166px;
  word-wrap:break-word;
}
#u4966_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:39px;
}
#u4966 {
  position:absolute;
  left:551px;
  top:143px;
  width:167px;
  height:39px;
  color:#666666;
}
#u4967 {
  position:absolute;
  left:2px;
  top:12px;
  width:163px;
  word-wrap:break-word;
}
#u4968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:39px;
}
#u4968 {
  position:absolute;
  left:718px;
  top:143px;
  width:208px;
  height:39px;
  color:#666666;
}
#u4969 {
  position:absolute;
  left:2px;
  top:12px;
  width:204px;
  word-wrap:break-word;
}
#u4970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:39px;
}
#u4970 {
  position:absolute;
  left:926px;
  top:143px;
  width:189px;
  height:39px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u4971 {
  position:absolute;
  left:2px;
  top:10px;
  width:185px;
  word-wrap:break-word;
}
#u4972_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u4972 {
  position:absolute;
  left:0px;
  top:182px;
  width:31px;
  height:33px;
}
#u4973 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u4974_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u4974 {
  position:absolute;
  left:31px;
  top:182px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4975 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u4976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u4976 {
  position:absolute;
  left:245px;
  top:182px;
  width:136px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4977 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u4978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u4978 {
  position:absolute;
  left:381px;
  top:182px;
  width:170px;
  height:33px;
  color:#666666;
}
#u4979 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u4980_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u4980 {
  position:absolute;
  left:551px;
  top:182px;
  width:167px;
  height:33px;
  color:#666666;
}
#u4981 {
  position:absolute;
  left:2px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u4982 {
  position:absolute;
  left:718px;
  top:182px;
  width:208px;
  height:33px;
  color:#666666;
}
#u4983 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u4984 {
  position:absolute;
  left:926px;
  top:182px;
  width:189px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u4985 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:215px;
  width:31px;
  height:33px;
}
#u4987 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u4988 {
  position:absolute;
  left:31px;
  top:215px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4989 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u4990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u4990 {
  position:absolute;
  left:245px;
  top:215px;
  width:136px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u4991 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u4992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u4992 {
  position:absolute;
  left:381px;
  top:215px;
  width:170px;
  height:33px;
  color:#666666;
}
#u4993 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u4994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u4994 {
  position:absolute;
  left:551px;
  top:215px;
  width:167px;
  height:33px;
  color:#666666;
}
#u4995 {
  position:absolute;
  left:2px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u4996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u4996 {
  position:absolute;
  left:718px;
  top:215px;
  width:208px;
  height:33px;
  color:#666666;
}
#u4997 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u4998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u4998 {
  position:absolute;
  left:926px;
  top:215px;
  width:189px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u4999 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u5000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u5000 {
  position:absolute;
  left:0px;
  top:248px;
  width:31px;
  height:33px;
}
#u5001 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u5002_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u5002 {
  position:absolute;
  left:31px;
  top:248px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5003 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u5004_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u5004 {
  position:absolute;
  left:245px;
  top:248px;
  width:136px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5005 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u5006_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u5006 {
  position:absolute;
  left:381px;
  top:248px;
  width:170px;
  height:33px;
  color:#666666;
}
#u5007 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u5008_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u5008 {
  position:absolute;
  left:551px;
  top:248px;
  width:167px;
  height:33px;
  color:#666666;
}
#u5009 {
  position:absolute;
  left:2px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u5010_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u5010 {
  position:absolute;
  left:718px;
  top:248px;
  width:208px;
  height:33px;
  color:#666666;
}
#u5011 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5012_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u5012 {
  position:absolute;
  left:926px;
  top:248px;
  width:189px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u5013 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u5014_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u5014 {
  position:absolute;
  left:0px;
  top:281px;
  width:31px;
  height:33px;
}
#u5015 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u5016_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u5016 {
  position:absolute;
  left:31px;
  top:281px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5017 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u5018_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u5018 {
  position:absolute;
  left:245px;
  top:281px;
  width:136px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5019 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u5020_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u5020 {
  position:absolute;
  left:381px;
  top:281px;
  width:170px;
  height:33px;
  color:#666666;
}
#u5021 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u5022_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u5022 {
  position:absolute;
  left:551px;
  top:281px;
  width:167px;
  height:33px;
  color:#666666;
}
#u5023 {
  position:absolute;
  left:2px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u5024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u5024 {
  position:absolute;
  left:718px;
  top:281px;
  width:208px;
  height:33px;
  color:#666666;
}
#u5025 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u5026 {
  position:absolute;
  left:926px;
  top:281px;
  width:189px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u5027 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u5028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:33px;
}
#u5028 {
  position:absolute;
  left:0px;
  top:314px;
  width:31px;
  height:33px;
}
#u5029 {
  position:absolute;
  left:2px;
  top:9px;
  width:27px;
  word-wrap:break-word;
}
#u5030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
}
#u5030 {
  position:absolute;
  left:31px;
  top:314px;
  width:214px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5031 {
  position:absolute;
  left:2px;
  top:8px;
  width:210px;
  word-wrap:break-word;
}
#u5032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:33px;
}
#u5032 {
  position:absolute;
  left:245px;
  top:314px;
  width:136px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5033 {
  position:absolute;
  left:2px;
  top:8px;
  width:132px;
  word-wrap:break-word;
}
#u5034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:33px;
}
#u5034 {
  position:absolute;
  left:381px;
  top:314px;
  width:170px;
  height:33px;
  color:#666666;
}
#u5035 {
  position:absolute;
  left:2px;
  top:9px;
  width:166px;
  word-wrap:break-word;
}
#u5036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:33px;
}
#u5036 {
  position:absolute;
  left:551px;
  top:314px;
  width:167px;
  height:33px;
  color:#666666;
}
#u5037 {
  position:absolute;
  left:2px;
  top:9px;
  width:163px;
  word-wrap:break-word;
}
#u5038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:33px;
}
#u5038 {
  position:absolute;
  left:718px;
  top:314px;
  width:208px;
  height:33px;
  color:#666666;
}
#u5039 {
  position:absolute;
  left:2px;
  top:9px;
  width:204px;
  word-wrap:break-word;
}
#u5040_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:33px;
}
#u5040 {
  position:absolute;
  left:926px;
  top:314px;
  width:189px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u5041 {
  position:absolute;
  left:2px;
  top:8px;
  width:185px;
  word-wrap:break-word;
}
#u5042_img {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:22px;
}
#u5042 {
  position:absolute;
  left:0px;
  top:347px;
  width:31px;
  height:22px;
}
#u5043 {
  position:absolute;
  left:2px;
  top:4px;
  width:27px;
  word-wrap:break-word;
}
#u5044_img {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:22px;
}
#u5044 {
  position:absolute;
  left:31px;
  top:347px;
  width:214px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5045 {
  position:absolute;
  left:2px;
  top:2px;
  width:210px;
  word-wrap:break-word;
}
#u5046_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
}
#u5046 {
  position:absolute;
  left:245px;
  top:347px;
  width:136px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u5047 {
  position:absolute;
  left:2px;
  top:2px;
  width:132px;
  word-wrap:break-word;
}
#u5048_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:22px;
}
#u5048 {
  position:absolute;
  left:381px;
  top:347px;
  width:170px;
  height:22px;
  color:#666666;
}
#u5049 {
  position:absolute;
  left:2px;
  top:4px;
  width:166px;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:167px;
  height:22px;
}
#u5050 {
  position:absolute;
  left:551px;
  top:347px;
  width:167px;
  height:22px;
  color:#666666;
}
#u5051 {
  position:absolute;
  left:2px;
  top:4px;
  width:163px;
  word-wrap:break-word;
}
#u5052_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:22px;
}
#u5052 {
  position:absolute;
  left:718px;
  top:347px;
  width:208px;
  height:22px;
  color:#666666;
}
#u5053 {
  position:absolute;
  left:2px;
  top:4px;
  width:204px;
  word-wrap:break-word;
}
#u5054_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:22px;
}
#u5054 {
  position:absolute;
  left:926px;
  top:347px;
  width:189px;
  height:22px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#3399FF;
}
#u5055 {
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  word-wrap:break-word;
}
#u5056 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5057_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
}
#u5057 {
  position:absolute;
  left:894px;
  top:694px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u5058 {
  position:absolute;
  left:2px;
  top:-8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5059_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
}
#u5059 {
  position:absolute;
  left:894px;
  top:688px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u5060 {
  position:absolute;
  left:2px;
  top:-8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5061_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
}
#u5061 {
  position:absolute;
  left:644px;
  top:687px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
  color:#5E5E5E;
}
#u5062 {
  position:absolute;
  left:2px;
  top:-8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5063_img {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:1px;
}
#u5063 {
  position:absolute;
  left:644px;
  top:693px;
  width:9px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
  color:#5E5E5E;
}
#u5064 {
  position:absolute;
  left:2px;
  top:-8px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5065_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
}
#u5065 {
  position:absolute;
  left:664px;
  top:679px;
  width:24px;
  height:24px;
}
#u5066 {
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5067 {
  position:absolute;
  left:695px;
  top:680px;
  width:22px;
  height:22px;
}
#u5068 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5069 {
  position:absolute;
  left:673px;
  top:684px;
  width:230px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u5070 {
  position:absolute;
  left:0px;
  top:0px;
  width:230px;
  word-wrap:break-word;
}
#u5071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5071 {
  position:absolute;
  left:724px;
  top:680px;
  width:22px;
  height:22px;
}
#u5072 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5073 {
  position:absolute;
  left:753px;
  top:680px;
  width:22px;
  height:22px;
}
#u5074 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5075 {
  position:absolute;
  left:782px;
  top:680px;
  width:22px;
  height:22px;
}
#u5076 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5077 {
  position:absolute;
  left:810px;
  top:680px;
  width:22px;
  height:22px;
}
#u5078 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5079 {
  position:absolute;
  left:860px;
  top:680px;
  width:22px;
  height:22px;
}
#u5080 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5081 {
  position:absolute;
  left:886px;
  top:680px;
  width:22px;
  height:22px;
}
#u5082 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5083 {
  position:absolute;
  left:637px;
  top:680px;
  width:22px;
  height:22px;
}
#u5084 {
  position:absolute;
  left:2px;
  top:3px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5085 {
  position:absolute;
  left:279px;
  top:112px;
  width:122px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5086 {
  position:absolute;
  left:2px;
  top:4px;
  width:118px;
  word-wrap:break-word;
}
#u5087 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5088_div {
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:40px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5088 {
  position:absolute;
  left:1000px;
  top:205px;
  width:262px;
  height:28px;
}
#u5089 {
  position:absolute;
  left:2px;
  top:6px;
  width:258px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5090 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5091_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u5091 {
  position:absolute;
  left:1231px;
  top:211px;
  width:15px;
  height:15px;
}
#u5092 {
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5093_div {
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:2px;
  background:inherit;
  background-color:rgba(188, 188, 188, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5093 {
  position:absolute;
  left:1242px;
  top:224px;
  width:6px;
  height:2px;
  -webkit-transform:rotate(50deg);
  -moz-transform:rotate(50deg);
  -ms-transform:rotate(50deg);
  transform:rotate(50deg);
}
#u5094 {
  position:absolute;
  left:2px;
  top:-7px;
  width:2px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5095_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u5095 {
  position:absolute;
  left:1016px;
  top:210px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#C9C9C9;
}
#u5096 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5097_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5097 {
  position:absolute;
  left:199px;
  top:204px;
  width:71px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5098 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5099_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:26px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5099 {
  position:absolute;
  left:192px;
  top:112px;
  width:61px;
  height:26px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5100 {
  position:absolute;
  left:2px;
  top:4px;
  width:57px;
  word-wrap:break-word;
}
