body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1316px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5382_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:72px;
}
#u5382 {
  position:absolute;
  left:0px;
  top:0px;
  width:1311px;
  height:72px;
}
#u5383 {
  position:absolute;
  left:2px;
  top:28px;
  width:1307px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5384_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5384 {
  position:absolute;
  left:24px;
  top:90px;
  width:121px;
  height:20px;
}
#u5385 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u5386_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:31px;
}
#u5386 {
  position:absolute;
  left:1071px;
  top:104px;
  width:1px;
  height:30px;
}
#u5387 {
  position:absolute;
  left:2px;
  top:7px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5388_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u5388 {
  position:absolute;
  left:1082px;
  top:112px;
  width:127px;
  height:25px;
  font-size:18px;
}
#u5389 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:79px;
}
#u5390 {
  position:absolute;
  left:1071px;
  top:151px;
  width:115px;
  height:79px;
}
#u5391 {
  position:absolute;
  left:2px;
  top:32px;
  width:111px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5392_img {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:33px;
}
#u5392 {
  position:absolute;
  left:1070px;
  top:153px;
  width:36px;
  height:33px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  font-size:10px;
  color:#FF0000;
  text-align:left;
}
#u5393 {
  position:absolute;
  left:2px;
  top:8px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5394_div {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5394 {
  position:absolute;
  left:1072px;
  top:156px;
  width:9px;
  height:16px;
  color:#FF0000;
}
#u5395 {
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  white-space:nowrap;
}
#u5396_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5396 {
  position:absolute;
  left:1196px;
  top:151px;
  width:113px;
  height:40px;
}
#u5397 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u5398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5398 {
  position:absolute;
  left:1196px;
  top:198px;
  width:66px;
  height:20px;
}
#u5399 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u5400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5400 {
  position:absolute;
  left:1071px;
  top:264px;
  width:153px;
  height:20px;
}
#u5401 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5402 {
  position:absolute;
  left:1071px;
  top:290px;
  width:237px;
  height:40px;
}
#u5403 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u5404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5404 {
  position:absolute;
  left:1071px;
  top:330px;
  width:237px;
  height:40px;
}
#u5405 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u5406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5406 {
  position:absolute;
  left:1071px;
  top:366px;
  width:153px;
  height:20px;
}
#u5407 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5408 {
  position:absolute;
  left:1071px;
  top:392px;
  width:237px;
  height:40px;
}
#u5409 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u5410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5410 {
  position:absolute;
  left:1071px;
  top:432px;
  width:237px;
  height:40px;
}
#u5411 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u5412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5412 {
  position:absolute;
  left:1071px;
  top:474px;
  width:153px;
  height:20px;
}
#u5413 {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  white-space:nowrap;
}
#u5414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5414 {
  position:absolute;
  left:1071px;
  top:500px;
  width:237px;
  height:40px;
}
#u5415 {
  position:absolute;
  left:0px;
  top:0px;
  width:237px;
  white-space:nowrap;
}
#u5416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:244px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5416 {
  position:absolute;
  left:1071px;
  top:540px;
  width:244px;
  height:40px;
}
#u5417 {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  white-space:nowrap;
}
#u5418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:225px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5418 {
  position:absolute;
  left:55px;
  top:121px;
  width:988px;
  height:225px;
}
#u5419 {
  position:absolute;
  left:2px;
  top:104px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5420 {
  position:absolute;
  left:80px;
  top:151px;
  width:61px;
  height:28px;
  font-size:20px;
}
#u5421 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5422 {
  position:absolute;
  left:80px;
  top:194px;
  width:61px;
  height:28px;
  font-size:20px;
}
#u5423 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5424 {
  position:absolute;
  left:80px;
  top:239px;
  width:61px;
  height:28px;
  font-size:20px;
}
#u5425 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5426 {
  position:absolute;
  left:80px;
  top:283px;
  width:61px;
  height:28px;
  font-size:20px;
}
#u5427 {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u5428_div {
  position:absolute;
  left:0px;
  top:0px;
  width:988px;
  height:58px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5428 {
  position:absolute;
  left:55px;
  top:366px;
  width:988px;
  height:58px;
}
#u5429 {
  position:absolute;
  left:2px;
  top:21px;
  width:984px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5430 {
  position:absolute;
  left:88px;
  top:379px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5431 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5432_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5432 {
  position:absolute;
  left:150px;
  top:379px;
  width:85px;
  height:32px;
  font-size:20px;
}
#u5433 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u5434_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5434 {
  position:absolute;
  left:251px;
  top:379px;
  width:85px;
  height:32px;
  font-size:20px;
}
#u5435 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u5436_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5436 {
  position:absolute;
  left:352px;
  top:379px;
  width:85px;
  height:32px;
  font-size:20px;
}
#u5437 {
  position:absolute;
  left:2px;
  top:4px;
  width:81px;
  white-space:nowrap;
}
#u5438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5438 {
  position:absolute;
  left:159px;
  top:149px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5439 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5440_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5440 {
  position:absolute;
  left:217px;
  top:149px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5441 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5442_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5442 {
  position:absolute;
  left:274px;
  top:149px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5443 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5444 {
  position:absolute;
  left:332px;
  top:149px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5445 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5446 {
  position:absolute;
  left:159px;
  top:192px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5447 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5448_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5448 {
  position:absolute;
  left:218px;
  top:192px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5449 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5450_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5450 {
  position:absolute;
  left:275px;
  top:192px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5451 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5452_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5452 {
  position:absolute;
  left:333px;
  top:192px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5453 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5454 {
  position:absolute;
  left:159px;
  top:237px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5455 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5456_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5456 {
  position:absolute;
  left:209px;
  top:237px;
  width:65px;
  height:32px;
  font-size:20px;
}
#u5457 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u5458_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5458 {
  position:absolute;
  left:285px;
  top:237px;
  width:65px;
  height:32px;
  font-size:20px;
}
#u5459 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u5460_div {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5460 {
  position:absolute;
  left:361px;
  top:237px;
  width:65px;
  height:32px;
  font-size:20px;
}
#u5461 {
  position:absolute;
  left:2px;
  top:4px;
  width:61px;
  white-space:nowrap;
}
#u5462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5462 {
  position:absolute;
  left:159px;
  top:279px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5463 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5464_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5464 {
  position:absolute;
  left:220px;
  top:279px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5465 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5466_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5466 {
  position:absolute;
  left:277px;
  top:279px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5467 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5468_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u5468 {
  position:absolute;
  left:335px;
  top:279px;
  width:45px;
  height:32px;
  font-size:20px;
}
#u5469 {
  position:absolute;
  left:2px;
  top:4px;
  width:41px;
  white-space:nowrap;
}
#u5471_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1312px;
  height:163px;
}
#u5471 {
  position:absolute;
  left:4px;
  top:922px;
  width:1312px;
  height:163px;
}
#u5472 {
  position:absolute;
  left:2px;
  top:74px;
  width:1308px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5473_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u5473 {
  position:absolute;
  left:381px;
  top:585px;
  width:300px;
  height:170px;
}
#u5474 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5475_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5475 {
  position:absolute;
  left:441px;
  top:605px;
  width:70px;
  height:22px;
}
#u5476 {
  position:absolute;
  left:2px;
  top:3px;
  width:66px;
  white-space:nowrap;
}
