body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1399px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2289_img {
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:15px;
}
#u2289 {
  position:absolute;
  left:14px;
  top:107px;
  width:13px;
  height:15px;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
}
#u2290 {
  position:absolute;
  left:1px;
  top:0px;
  width:11px;
  visibility:hidden;
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  transform:rotate(90deg);
  word-wrap:break-word;
  transform-origin:5.5px 7.5px;
  -ms-transform-origin:5.5px 7.5px;
  -moz-transform-origin:5.5px 7.5px;
  -webkit-transform-origin:5.5px 7.5px;
}
#u2292_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2292 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u2293 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2294_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2294 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u2295 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2296_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u2296 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u2297 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2298_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2298 {
  position:absolute;
  left:238px;
  top:536px;
  width:273px;
  height:172px;
}
#u2299 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2300_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u2300 {
  position:absolute;
  left:249px;
  top:549px;
  width:53px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2301 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u2302_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2302 {
  position:absolute;
  left:627px;
  top:538px;
  width:273px;
  height:172px;
}
#u2303 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2304_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2304 {
  position:absolute;
  left:638px;
  top:549px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2305 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2306_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2306 {
  position:absolute;
  left:1058px;
  top:538px;
  width:273px;
  height:172px;
}
#u2307 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2308_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u2308 {
  position:absolute;
  left:1069px;
  top:549px;
  width:52px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2309 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2310 {
  position:absolute;
  left:249px;
  top:720px;
  width:259px;
  height:58px;
}
#u2311 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2312_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2312 {
  position:absolute;
  left:237px;
  top:841px;
  width:273px;
  height:172px;
}
#u2313 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2314_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u2314 {
  position:absolute;
  left:248px;
  top:856px;
  width:53px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2315 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u2316_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2316 {
  position:absolute;
  left:626px;
  top:843px;
  width:273px;
  height:172px;
}
#u2317 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2318_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2318 {
  position:absolute;
  left:637px;
  top:855px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2319 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2320 {
  position:absolute;
  left:1057px;
  top:843px;
  width:273px;
  height:172px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_img {
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:29px;
}
#u2322 {
  position:absolute;
  left:1068px;
  top:854px;
  width:75px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2323 {
  position:absolute;
  left:2px;
  top:6px;
  width:71px;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2324 {
  position:absolute;
  left:237px;
  top:1157px;
  width:273px;
  height:172px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:29px;
}
#u2326 {
  position:absolute;
  left:248px;
  top:1169px;
  width:79px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2327 {
  position:absolute;
  left:2px;
  top:6px;
  width:75px;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2328 {
  position:absolute;
  left:626px;
  top:1158px;
  width:273px;
  height:172px;
}
#u2329 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2330_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2330 {
  position:absolute;
  left:637px;
  top:1169px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2331 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2332_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:172px;
}
#u2332 {
  position:absolute;
  left:1057px;
  top:1158px;
  width:273px;
  height:172px;
}
#u2333 {
  position:absolute;
  left:2px;
  top:78px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2334_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u2334 {
  position:absolute;
  left:1068px;
  top:1169px;
  width:52px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2335 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1103px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2336 {
  position:absolute;
  left:237px;
  top:1451px;
  width:1103px;
  height:50px;
}
#u2337 {
  position:absolute;
  left:2px;
  top:17px;
  width:1099px;
  word-wrap:break-word;
}
#u2338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2338 {
  position:absolute;
  left:971px;
  top:1510px;
  width:44px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2339 {
  position:absolute;
  left:2px;
  top:6px;
  width:40px;
  word-wrap:break-word;
}
#u2340_div {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2340 {
  position:absolute;
  left:913px;
  top:1512px;
  width:20px;
  height:20px;
}
#u2341 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2342_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2342 {
  position:absolute;
  left:666px;
  top:1410px;
  width:95px;
  height:16px;
}
#u2343 {
  position:absolute;
  left:2px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2342_ann {
  position:absolute;
  left:754px;
  top:1406px;
  width:1px;
  height:1px;
}
#u2344_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2344 {
  position:absolute;
  left:295px;
  top:1084px;
  width:49px;
  height:15px;
}
#u2345 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2346 {
  position:absolute;
  left:398px;
  top:1083px;
  width:49px;
  height:18px;
}
#u2347 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2348 {
  position:absolute;
  left:804px;
  top:1410px;
  width:49px;
  height:15px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:404px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u2351 {
  position:absolute;
  left:611px;
  top:795px;
  width:404px;
  height:262px;
  font-size:18px;
}
#u2352 {
  position:absolute;
  left:2px;
  top:120px;
  width:400px;
  word-wrap:break-word;
}
#u2353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:203px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2353 {
  position:absolute;
  left:708px;
  top:977px;
  width:203px;
  height:38px;
}
#u2354 {
  position:absolute;
  left:2px;
  top:11px;
  width:199px;
  word-wrap:break-word;
}
#u2355_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u2355 {
  position:absolute;
  left:957px;
  top:824px;
  width:25px;
  height:25px;
}
#u2356 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2357_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2357 {
  position:absolute;
  left:1156px;
  top:487px;
  width:83px;
  height:41px;
}
#u2358 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u2359_div {
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:41px;
  background:inherit;
  background-color:rgba(25, 158, 216, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2359 {
  position:absolute;
  left:1235px;
  top:487px;
  width:83px;
  height:41px;
}
#u2360 {
  position:absolute;
  left:2px;
  top:12px;
  width:79px;
  word-wrap:break-word;
}
#u2361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2361 {
  position:absolute;
  left:249px;
  top:500px;
  width:300px;
  height:16px;
}
#u2362 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u2363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2363 {
  position:absolute;
  left:1272px;
  top:361px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2364 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2365_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:29px;
}
#u2365 {
  position:absolute;
  left:1272px;
  top:549px;
  width:52px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2366 {
  position:absolute;
  left:2px;
  top:6px;
  width:48px;
  word-wrap:break-word;
}
#u2367_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:29px;
}
#u2367 {
  position:absolute;
  left:442px;
  top:856px;
  width:53px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2368 {
  position:absolute;
  left:2px;
  top:6px;
  width:49px;
  word-wrap:break-word;
}
#u2369_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2369 {
  position:absolute;
  left:832px;
  top:856px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2370 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2371_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:29px;
}
#u2371 {
  position:absolute;
  left:669px;
  top:1019px;
  width:50px;
  height:29px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u2372 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u2373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2373 {
  position:absolute;
  left:698px;
  top:172px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2374 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2375_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2375 {
  position:absolute;
  left:1111px;
  top:167px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2376 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2377 {
  position:absolute;
  left:1195px;
  top:162px;
  width:196px;
  height:32px;
}
#u2377_input {
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2377_input:disabled {
  color:grayText;
}
#u2378 {
  position:absolute;
  left:311px;
  top:235px;
  width:197px;
  height:32px;
}
#u2378_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2378_input:disabled {
  color:grayText;
}
#u2379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2379 {
  position:absolute;
  left:224px;
  top:172px;
  width:55px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2380 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u2381 {
  position:absolute;
  left:779px;
  top:167px;
  width:193px;
  height:32px;
}
#u2381_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2381_input:disabled {
  color:grayText;
}
#u2382_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2382 {
  position:absolute;
  left:224px;
  top:240px;
  width:37px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2383 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u2384 {
  position:absolute;
  left:316px;
  top:167px;
  width:193px;
  height:32px;
}
#u2384_input {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2384_input:disabled {
  color:grayText;
}
#u2385_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2385 {
  position:absolute;
  left:698px;
  top:327px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2386 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2387 {
  position:absolute;
  left:701px;
  top:240px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2388 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2389 {
  position:absolute;
  left:789px;
  top:235px;
  width:197px;
  height:32px;
}
#u2389_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2389_input:disabled {
  color:grayText;
}
#u2390_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u2390 {
  position:absolute;
  left:781px;
  top:348px;
  width:196px;
  height:1px;
}
#u2391 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2392_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2392 {
  position:absolute;
  left:1111px;
  top:240px;
  width:91px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2393 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u2394 {
  position:absolute;
  left:1202px;
  top:235px;
  width:197px;
  height:32px;
}
#u2394_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2394_input:disabled {
  color:grayText;
}
#u2395_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2395 {
  position:absolute;
  left:224px;
  top:324px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u2396 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2397 {
  position:absolute;
  left:312px;
  top:317px;
  width:197px;
  height:32px;
}
#u2397_input {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#999999;
}
#u2397_input:disabled {
  color:grayText;
}
#u2398_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2398 {
  position:absolute;
  left:409px;
  top:780px;
  width:49px;
  height:18px;
}
#u2399 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2400_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2400 {
  position:absolute;
  left:297px;
  top:780px;
  width:72px;
  height:18px;
}
#u2401 {
  position:absolute;
  left:2px;
  top:1px;
  width:68px;
  word-wrap:break-word;
}
#u2402_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2402 {
  position:absolute;
  left:804px;
  top:788px;
  width:49px;
  height:18px;
}
#u2403 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2404_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2404 {
  position:absolute;
  left:698px;
  top:788px;
  width:49px;
  height:18px;
}
#u2405 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2406_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2406 {
  position:absolute;
  left:1223px;
  top:788px;
  width:49px;
  height:18px;
}
#u2407 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2408_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2408 {
  position:absolute;
  left:1117px;
  top:788px;
  width:49px;
  height:18px;
}
#u2409 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2410_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2410 {
  position:absolute;
  left:682px;
  top:1094px;
  width:49px;
  height:15px;
}
#u2411 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2412 {
  position:absolute;
  left:785px;
  top:1093px;
  width:49px;
  height:18px;
}
#u2413 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2414 {
  position:absolute;
  left:1186px;
  top:1094px;
  width:49px;
  height:15px;
}
#u2415 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2416_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2416 {
  position:absolute;
  left:1259px;
  top:1093px;
  width:49px;
  height:18px;
}
#u2417 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2418_div {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:17px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2418 {
  position:absolute;
  left:1093px;
  top:1093px;
  width:62px;
  height:17px;
}
#u2419 {
  position:absolute;
  left:2px;
  top:0px;
  width:58px;
  word-wrap:break-word;
}
#u2420_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:16px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2420 {
  position:absolute;
  left:284px;
  top:1408px;
  width:95px;
  height:16px;
}
#u2421 {
  position:absolute;
  left:2px;
  top:0px;
  width:91px;
  word-wrap:break-word;
}
#u2420_ann {
  position:absolute;
  left:372px;
  top:1404px;
  width:1px;
  height:1px;
}
#u2422_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:15px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2422 {
  position:absolute;
  left:422px;
  top:1408px;
  width:49px;
  height:15px;
}
#u2423 {
  position:absolute;
  left:2px;
  top:0px;
  width:45px;
  word-wrap:break-word;
}
#u2424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2424 {
  position:absolute;
  left:1243px;
  top:1408px;
  width:49px;
  height:18px;
}
#u2425 {
  position:absolute;
  left:2px;
  top:1px;
  width:45px;
  word-wrap:break-word;
}
#u2426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:18px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2426 {
  position:absolute;
  left:1131px;
  top:1408px;
  width:72px;
  height:18px;
}
#u2427 {
  position:absolute;
  left:2px;
  top:1px;
  width:68px;
  word-wrap:break-word;
}
#u2428 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2429_div {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2429 {
  position:absolute;
  left:39px;
  top:107px;
  width:103px;
  height:34px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#FFFFFF;
}
#u2430 {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  word-wrap:break-word;
}
#u2431_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2431 {
  position:absolute;
  left:39px;
  top:227px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2432 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2433_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2433 {
  position:absolute;
  left:39px;
  top:254px;
  width:28px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2434 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  white-space:nowrap;
}
#u2435_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2435 {
  position:absolute;
  left:39px;
  top:148px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FF0000;
}
#u2436 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2437_div {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2437 {
  position:absolute;
  left:39px;
  top:173px;
  width:68px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2438 {
  position:absolute;
  left:0px;
  top:0px;
  width:68px;
  white-space:nowrap;
}
#u2439_div {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2439 {
  position:absolute;
  left:39px;
  top:198px;
  width:54px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:13px;
  color:#FFFFFF;
}
#u2440 {
  position:absolute;
  left:0px;
  top:0px;
  width:54px;
  white-space:nowrap;
}
#u2441_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:45px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2441 {
  position:absolute;
  left:224px;
  top:102px;
  width:115px;
  height:45px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u2442 {
  position:absolute;
  left:2px;
  top:13px;
  width:111px;
  word-wrap:break-word;
}
#u2443_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2443 {
  position:absolute;
  left:638px;
  top:720px;
  width:259px;
  height:58px;
}
#u2444 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2445_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2445 {
  position:absolute;
  left:1064px;
  top:720px;
  width:259px;
  height:58px;
}
#u2446 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2447_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2447 {
  position:absolute;
  left:252px;
  top:1023px;
  width:259px;
  height:58px;
}
#u2448 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2449 {
  position:absolute;
  left:641px;
  top:1023px;
  width:259px;
  height:58px;
}
#u2450 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2451 {
  position:absolute;
  left:1067px;
  top:1023px;
  width:259px;
  height:58px;
}
#u2452 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2453_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2453 {
  position:absolute;
  left:248px;
  top:1340px;
  width:259px;
  height:58px;
}
#u2454 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2455_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2455 {
  position:absolute;
  left:637px;
  top:1340px;
  width:259px;
  height:58px;
}
#u2456 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
#u2457_div {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  height:58px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2457 {
  position:absolute;
  left:1063px;
  top:1340px;
  width:259px;
  height:58px;
}
#u2458 {
  position:absolute;
  left:0px;
  top:0px;
  width:259px;
  word-wrap:break-word;
}
