body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1318px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:77px;
}
#u904 {
  position:absolute;
  left:190px;
  top:0px;
  width:1128px;
  height:77px;
}
#u905 {
  position:absolute;
  left:2px;
  top:30px;
  width:1124px;
  visibility:hidden;
  word-wrap:break-word;
}
#u906_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u906 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:77px;
}
#u907 {
  position:absolute;
  left:2px;
  top:30px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u908_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:576px;
}
#u908 {
  position:absolute;
  left:0px;
  top:82px;
  width:191px;
  height:576px;
}
#u909 {
  position:absolute;
  left:2px;
  top:280px;
  width:187px;
  visibility:hidden;
  word-wrap:break-word;
}
#u910 {
  position:absolute;
  left:228px;
  top:329px;
  width:1095px;
  height:338px;
}
#u911_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
}
#u911 {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u912 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  word-wrap:break-word;
}
#u913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
}
#u913 {
  position:absolute;
  left:182px;
  top:0px;
  width:182px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u914 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  word-wrap:break-word;
}
#u915_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
}
#u915 {
  position:absolute;
  left:364px;
  top:0px;
  width:182px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u916 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  word-wrap:break-word;
}
#u917_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:106px;
}
#u917 {
  position:absolute;
  left:546px;
  top:0px;
  width:181px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u918 {
  position:absolute;
  left:2px;
  top:45px;
  width:177px;
  word-wrap:break-word;
}
#u919_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:106px;
}
#u919 {
  position:absolute;
  left:727px;
  top:0px;
  width:182px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u920 {
  position:absolute;
  left:2px;
  top:45px;
  width:178px;
  word-wrap:break-word;
}
#u921_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:106px;
}
#u921 {
  position:absolute;
  left:909px;
  top:0px;
  width:181px;
  height:106px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u922 {
  position:absolute;
  left:2px;
  top:45px;
  width:177px;
  word-wrap:break-word;
}
#u923_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:104px;
}
#u923 {
  position:absolute;
  left:0px;
  top:106px;
  width:182px;
  height:104px;
}
#u924 {
  position:absolute;
  left:2px;
  top:44px;
  width:178px;
  word-wrap:break-word;
}
#u925_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:104px;
}
#u925 {
  position:absolute;
  left:182px;
  top:106px;
  width:182px;
  height:104px;
}
#u926 {
  position:absolute;
  left:2px;
  top:44px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u927_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:104px;
}
#u927 {
  position:absolute;
  left:364px;
  top:106px;
  width:182px;
  height:104px;
}
#u928 {
  position:absolute;
  left:2px;
  top:44px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u929 {
  position:absolute;
  left:546px;
  top:106px;
  width:181px;
  height:104px;
}
#u930 {
  position:absolute;
  left:2px;
  top:44px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u931_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:104px;
}
#u931 {
  position:absolute;
  left:727px;
  top:106px;
  width:182px;
  height:104px;
}
#u932 {
  position:absolute;
  left:2px;
  top:44px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u933_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:104px;
}
#u933 {
  position:absolute;
  left:909px;
  top:106px;
  width:181px;
  height:104px;
  color:#169BD5;
}
#u934 {
  position:absolute;
  left:2px;
  top:44px;
  width:177px;
  word-wrap:break-word;
}
#u935_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:123px;
}
#u935 {
  position:absolute;
  left:0px;
  top:210px;
  width:182px;
  height:123px;
}
#u936 {
  position:absolute;
  left:2px;
  top:54px;
  width:178px;
  word-wrap:break-word;
}
#u937_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:123px;
}
#u937 {
  position:absolute;
  left:182px;
  top:210px;
  width:182px;
  height:123px;
}
#u938 {
  position:absolute;
  left:2px;
  top:54px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u939_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:123px;
}
#u939 {
  position:absolute;
  left:364px;
  top:210px;
  width:182px;
  height:123px;
}
#u940 {
  position:absolute;
  left:2px;
  top:54px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:123px;
}
#u941 {
  position:absolute;
  left:546px;
  top:210px;
  width:181px;
  height:123px;
}
#u942 {
  position:absolute;
  left:2px;
  top:54px;
  width:177px;
  visibility:hidden;
  word-wrap:break-word;
}
#u943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:123px;
}
#u943 {
  position:absolute;
  left:727px;
  top:210px;
  width:182px;
  height:123px;
}
#u944 {
  position:absolute;
  left:2px;
  top:54px;
  width:178px;
  visibility:hidden;
  word-wrap:break-word;
}
#u945_img {
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:123px;
}
#u945 {
  position:absolute;
  left:909px;
  top:210px;
  width:181px;
  height:123px;
  color:#169BD5;
}
#u946 {
  position:absolute;
  left:2px;
  top:54px;
  width:177px;
  word-wrap:break-word;
}
#u947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1090px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u947 {
  position:absolute;
  left:228px;
  top:662px;
  width:1090px;
  height:50px;
}
#u948 {
  position:absolute;
  left:2px;
  top:17px;
  width:1086px;
  word-wrap:break-word;
}
#u949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:28px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u949 {
  position:absolute;
  left:970px;
  top:674px;
  width:49px;
  height:28px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u950 {
  position:absolute;
  left:2px;
  top:6px;
  width:45px;
  word-wrap:break-word;
}
#u951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:22px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u951 {
  position:absolute;
  left:899px;
  top:678px;
  width:22px;
  height:20px;
}
#u952 {
  position:absolute;
  left:2px;
  top:2px;
  width:18px;
  visibility:hidden;
  word-wrap:break-word;
}
#u953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u953 {
  position:absolute;
  left:1140px;
  top:766px;
  width:51px;
  height:16px;
}
#u954 {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u955_img {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:27px;
}
#u955 {
  position:absolute;
  left:637px;
  top:411px;
  width:193px;
  height:27px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
#u956 {
  position:absolute;
  left:2px;
  top:6px;
  width:189px;
  visibility:hidden;
  word-wrap:break-word;
}
#u957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u957 {
  position:absolute;
  left:230px;
  top:184px;
  width:55px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u958 {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  white-space:nowrap;
}
#u959_img {
  position:absolute;
  left:0px;
  top:0px;
  width:197px;
  height:2px;
}
#u959 {
  position:absolute;
  left:313px;
  top:205px;
  width:196px;
  height:1px;
}
#u960 {
  position:absolute;
  left:2px;
  top:-8px;
  width:192px;
  visibility:hidden;
  word-wrap:break-word;
}
#u961 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u962_div {
  position:absolute;
  left:0px;
  top:0px;
  width:903px;
  height:696px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u962 {
  position:absolute;
  left:322px;
  top:125px;
  width:903px;
  height:696px;
}
#u963 {
  position:absolute;
  left:2px;
  top:340px;
  width:899px;
  visibility:hidden;
  word-wrap:break-word;
}
#u964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u964 {
  position:absolute;
  left:748px;
  top:190px;
  width:37px;
  height:22px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u965 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u966 {
  position:absolute;
  left:881px;
  top:383px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u967 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u968 {
  position:absolute;
  left:424px;
  top:447px;
  width:73px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u969 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u970 {
  position:absolute;
  left:424px;
  top:260px;
  width:163px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u971 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u972_div {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u972 {
  position:absolute;
  left:424px;
  top:379px;
  width:154px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u973 {
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u974_div {
  position:absolute;
  left:0px;
  top:0px;
  width:138px;
  height:36px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u974 {
  position:absolute;
  left:710px;
  top:738px;
  width:138px;
  height:36px;
}
#u975 {
  position:absolute;
  left:2px;
  top:10px;
  width:134px;
  word-wrap:break-word;
}
#u976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u976 {
  position:absolute;
  left:881px;
  top:442px;
  width:91px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u977 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u978 {
  position:absolute;
  left:422px;
  top:524px;
  width:91px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u979 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u980 {
  position:absolute;
  left:882px;
  top:511px;
  width:91px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u981 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u982 {
  position:absolute;
  left:422px;
  top:604px;
  width:91px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u983 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u984 {
  position:absolute;
  left:544px;
  top:509px;
  width:43px;
  height:50px;
}
#u985 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u986 {
  position:absolute;
  left:544px;
  top:596px;
  width:43px;
  height:50px;
}
#u987 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:50px;
}
#u988 {
  position:absolute;
  left:991px;
  top:497px;
  width:43px;
  height:50px;
}
#u989 {
  position:absolute;
  left:2px;
  top:17px;
  width:39px;
  visibility:hidden;
  word-wrap:break-word;
}
#u990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u990 {
  position:absolute;
  left:479px;
  top:559px;
  width:164px;
  height:23px;
  font-size:11px;
}
#u991 {
  position:absolute;
  left:2px;
  top:5px;
  width:160px;
  word-wrap:break-word;
}
#u992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u992 {
  position:absolute;
  left:484px;
  top:646px;
  width:164px;
  height:23px;
  font-size:11px;
}
#u993 {
  position:absolute;
  left:2px;
  top:5px;
  width:160px;
  word-wrap:break-word;
}
#u994_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:23px;
}
#u994 {
  position:absolute;
  left:932px;
  top:556px;
  width:164px;
  height:23px;
  font-size:11px;
}
#u995 {
  position:absolute;
  left:2px;
  top:5px;
  width:160px;
  word-wrap:break-word;
}
#u996_img {
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:29px;
}
#u996 {
  position:absolute;
  left:949px;
  top:379px;
  width:41px;
  height:29px;
  font-size:16px;
}
#u997 {
  position:absolute;
  left:2px;
  top:5px;
  width:37px;
  word-wrap:break-word;
}
#u998_img {
  position:absolute;
  left:0px;
  top:0px;
  width:55px;
  height:29px;
}
#u998 {
  position:absolute;
  left:496px;
  top:442px;
  width:55px;
  height:29px;
  font-size:16px;
}
#u999 {
  position:absolute;
  left:2px;
  top:5px;
  width:51px;
  word-wrap:break-word;
}
#u1000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:22px;
}
#u1000 {
  position:absolute;
  left:941px;
  top:442px;
  width:271px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1001 {
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  white-space:nowrap;
}
#u1002_div {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1002 {
  position:absolute;
  left:424px;
  top:318px;
  width:136px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1003 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u1004_div {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1004 {
  position:absolute;
  left:881px;
  top:318px;
  width:149px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1005 {
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  white-space:nowrap;
}
#u1006_div {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1006 {
  position:absolute;
  left:881px;
  top:260px;
  width:109px;
  height:22px;
  font-family:'PingFang SC Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u1007 {
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
